@using EmployeeInformations.Common
@using EmployeeInformations.Model.LeaveSummaryViewModel;
@using Microsoft.AspNetCore.Http;
@using EmployeeInformations.Business.IService
@using EmployeeInformations.Common.Enums
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject IEmployeeInformationService employeeInformationService
@model List<CompensatoryRequestViewModel>
@{
    ViewBag.Title = "CompensatoryOffRequests";
    Layout = "_Layout";
    var loginRoleId = Context.Session.GetInt32("RoleId");
    var loginEmpId = Context.Session.GetInt32("EmpId");

    var rolePrivileges = false;
    if (loginRoleId >= 0)
    {
        var id = loginRoleId.Value;
        int leaveSummaryModuleId = (int)EmployeesInformationsPages.CompensatoryOff;
        rolePrivileges = await employeeInformationService.ReadAndWritePermissionByRoleId(leaveSummaryModuleId, id);
    }
}

<div class="nk-block-head nk-block-head-sm">
    <div class="nk-block-between">
        <div class="nk-block-head-content">
            <h3 class="nk-block-title page-title">Compensatory Off Requests</h3>
        </div><!-- .nk-block-head-content -->
        <div class="d-flex mb-1">
            <input type="button" class="btn btn-primary ml-auto mt-auto mb-auto btn-sm" id="CreateLeaveType" value="Create" />
        </div>
    </div><!-- .nk-block-between -->
</div>


<div class="card card-bordered card-preview">
    <div class="card-inner table-card">
        <table class="display employee-holiday-table mb-3 no-sorting" style="width:100%" data-auto-responsive="false" id="getLeaveData">
          
           
            <thead>
                <tr class="nk-tb-item table-header">
                    <th class="nk-tb-col" data-id="EmployeeName"><span class="sub-text">Employee Name</span></th>
                    <th class="nk-tb-col col-w1" data-id="EmpId"><span class="sub-text">Employee Id</span></th>
                    <th class="nk-tb-col tb-col col-w1" data-id="workedDate"><span class="nk-tb-col tb-col">Worked Date</span></th>
                    <th class="nk-tb-col tb-col col-w" data-id="Remark"><span class="sub-text">Remark</span></th>
                    <th class="nk-tb-col tb-col col-w1" data-id="DayCount"><span class="sub-text">Day Count</span></th>
                    <th class="nk-tb-col tb-col" data-id="Reason"><span class="sub-text">Reason</span></th>
                    <th class="nk-tb-col tb-col" data-id="IsApproved"><span class="sub-text">Status</span></th>
                    @if (rolePrivileges)
                    {
                        <th class="nk-tb-col tb-col"><span class="sub-text">Action</span></th>                       
                    }
                </tr>
            </thead>
        </table>
    </div>
</div>


<div class="modal" id="Create_Popup" style="display:none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Compensatory Off</h5>
            </div>
            <!-- Modal body -->
            <div class="modal-body" id="txtSuccessMeg">

                <input type="hidden" id="EmpId" value="@loginEmpId" />
                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label class="form-label">Worked Date<span class="required" style="color: #FF0000">*</span></label>
                        <div id="leaveFromDatedatepicker" class="input-group date" data-date-format="dd/mm/yyyy">
                            <input type="text" class="form-control" id="leaveFromDate">
                            <span class="input-group-addon">
                                <i class="icon ti-calendar"></i>
                            </span>
                        </div>
                        <span class="error text-danger" id="errValid-LeaveFromDate"></span>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="form-group">
                        <label class="form-label">Remark<span class="required" style="color: #FF0000">*</span></label>
                        @Html.TextArea("Remark", null, new { cols = "5", rows = "5", @class = "form-control" })
                        <span class="error text-danger" id="errValid-Remark"></span>
                    </div>

                </div>
                <div class="col-lg-12 d-flex mt-3 p-0">
                    <input type="button" class="btn btn-primary ml-auto mr-3" id="btnCreate" value="Add" />
                    <input type="button" class="btn btn-danger" id="btnCancelCreate" value="Cancel" />
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="success_Leave_Popup" style="display:none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Compensatory Detail</h5>
            </div>
            <!-- Modal body -->
            <div class="modal-body" id="txtSuccessMeg">
                <input type="hidden" id="EmpId" value="@loginEmpId" />
                <input type="hidden" id="CompensatoryId" value="" />
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label class="form-label">Worked Date<span class="required" style="color: #FF0000">*</span></label>
                        <div id="LeaveFromDatedatepicker" class="input-group date" data-date-format="dd/mm/yyyy">
                            <input type="text" class="form-control" id="LeaveFromDate">
                            <span class="input-group-addon">
                                <i class="icon ti-calendar"></i>
                            </span>
                        </div>
                        <span class="error text-danger" id="errValid-LeaveFromDate"></span>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="form-group">
                        <label class="form-label">Remark<span class="required" style="color: #FF0000">*</span></label>
                        @Html.TextArea("remark", null, new { cols = "5", rows = "5", @class = "form-control" })
                        <span class="error text-danger" id="errValid-Remark"></span>
                    </div>

                </div>

                <div class="col-lg-12 d-flex mt-3 p-0">
                    <input type="button" class="btn btn-primary ml-auto mr-3" id="btnCreateLeave" value="Save" />
                    <input type="button" class="btn btn-danger" id="btnCancel" value="Cancel" />
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="success_Approved_Popup" style="display:none;">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal body -->
            <div class="modal-body" id="txtSuccessMeg">
                Approved successfully!
            </div>

            <!-- Modal footer -->
            <div class="modal-footer" id="btnCloseApproved">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="success_Reject_Popup" style="display:none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Compensatory Request</h5>
            </div>
            <!-- Modal body -->
            <div class="modal-body" id="txtSuccessMeg">
                <div class="col-12 d-flex">
                    <label class="form-label my-auto">Employee Name</label>
                    <div class="form-group m-0">
                        <label class="badge badge-sm bg-outline-primary ml-2" id="employeeName"></label>

                    </div>
                </div>

                <div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label>Reason</label><span id="mustReason" style="color:red"></span>
                            @Html.TextArea("RejectReason", null, new { cols = "5", rows = "5", @class = "form-control" })
                            <span class="error text-danger" id="errValid-Reason"></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 d-flex mt-3 p-0">
                    <input type="button" class="btn btn-primary ml-auto mr-3" id="btnreject" value="Save" />
                    <input type="button" class="btn btn-danger" id="btnCloseReject" value="Cancel" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="success_ReasonReject_Popup" style="display:none;">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal body -->
            <div class="modal-body" id="txtSuccessMeg">
                Rejected successfully!
            </div>

            <!-- Modal footer -->
            <div class="modal-footer" id="btnCloseReasonReject">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="success_Delete_Popup" style="display:none;">
    <div class="modal-dialog">
        <div class="modal-content p-3 text-center">
            <!-- Modal body -->
            <div class="modal-body" id="txtSuccessMeg">
                <h4 class="nk-modal-title"> Deleted successfully!</h4>
            </div>

            <!-- Modal footer -->
            <div class="text-center" id="btnCloseDelete">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>

    </div>
</div>


<script>

    $(document).ready(function () {
        var columnIndex = "";
        var columnDirection = "";
        var entries = 10;
        $.fn.dataTable.moment('DD/MM/YYYY');
        leavereport()
        function leavereport() {

            var count = 0;

      
            Url = "/WorkFromHome/CompensatoryOffRequestsFilter";
            Type = "get";
            var table = $("#getLeaveData").DataTable();         
   
            if (table) {

                table.destroy();

            }
            $('#getLeaveData').DataTable({

                serverSide: true,
                processing: true,

                ajax: {
                    url: Url,
                    type: Type,
                    data: function (d) {
                        var searchFilter = document.getElementById("getLeaveData_filter"); // get search div id
                        var searchInput = searchFilter.querySelector("input[type='search']");  // get search div input
                        var searchValue = searchInput.value;  // get search value
                        var leaveEntry = document.getElementById("getLeaveData_length"); //get entries div id
                        var entrySelect = leaveEntry.querySelector("select"); //get entries div select
                        entries = entrySelect.value; // get entries value
                        d.sSearch = searchValue;
                        d.iDisplayStart = d.iDisplayStart || 0;
                        d.iDisplayLength = d.iDisplayLength || entries;
                        d.sEcho = d.start;
                        d.columnDirection = columnDirection;
                        d.ColumnName = columnIndex;

                    }
                },

                columns: [
                    {


                        data: 'employeeName',

                        render: function (data, type, row, meta) {
                            if (count > 5)
                                count = 1;
                            var className = getClassNameForGrid(count);

                            count++;
                       
                            return "<div class='user-card'>" +
                                (row.employeeProfileImage == "" ?
                                    "<div class='user-avatar " + className + "'><span style='text-transform:uppercase'>" + (row.employeename)[0] + "</span></div>" :
                                    "<div class='user-avatar bg-light'><img src='./ProfileImages/" + row.employeeProfileImage + "' alt=''></div>") +
                                "<div class='user-info'>" +
                                "<div class='user-info'>" + (row.employeeStatus == true ? "<a href='javascript:void(0)' id='viewEmployee' data-empid=" + row.empId + "><span class='tb-lead text-danger'>" + row.employeeName + "</span></a>" : "<a href='javascript:void(0)' id='viewEmployee' data-empid=" + row.empId + "><span class='tb-lead font-weight-bold'>" + row.employeeName + "</span></a>") + "</div><span class='tb-sub text-primary'>" + row.employeeUserName + "</span></div></div>";

                            if (row.employeeStatus == false) {
                                return "<span class='tb-leadfont-weight-bold'> " + row.employeeName + "</span>";
                            }
                            else {
                                return "  <span class='tb-lead text-danger' >" + row.employeeName + "</span>";
                            }
                        }
                    },
                    {
                        data: 'employeeId',
                        render: function (data, type, row) {
                            return "<b class='tb-sub text-primary'>" + row.employeeUserName + "</b> ";
                        }
                    },
                    {
                        data: 'workedDate',
                        render: function (data, type, row) {
                            return "<span>" + dateFormat(row.workedDate) + "</span> ";
                        }
                    },
                    {
                        data: 'remark',
                        render: function (data, type, row) {
                            return "<div class='leave-reason'><p" + (row.remark ? " type='button' class='tb-sub font-weight-bold' data-bs-toggle='tooltip' data-bs-placement='bottom' title='" + row.remark + "'" : "") + ">" + row.remark + "</p></div>";
                         
                        }
                    },

                    {
                        data: 'dayCount',
                        render: function (data, type, row) {
                            return "<b class='tb-sub text-info'>" + row.dayCount + "</b> ";
                        }
                    },
                    {
                        data: 'reason',
                        render: function (data, type, row) {
                            return "<div class='leave-reason'><p" + (row.reason ? " type='button' class='tb-sub font-weight-bold' data-bs-toggle='tooltip' data-bs-placement='bottom' title='" + row.reason.replace(/'/g, "").trim() + "'" : "") + ">" + (row.reason || "") + "</p></div>";
                        }
                    },
                    {
                        data: 'status',
                        render: function (data, type, row) {
                            var leaveisApproved = "";
                            if (row.isApproved == 1) {
                                leaveisApproved = "bg-success";
                            }
                            else if (row.isApproved == 0) {
                                leaveisApproved = "bg-warning";
                            }
                            else if (row.isApproved == 2) {
                                leaveisApproved = "bg-danger";
                            }
                            return "<b class='badge badge-sm badge-dot has-bg " + leaveisApproved + " d-sm-inline-flex'>" + row.approvalStatus + "</b>";
                        }
                    },
                    {
                        data: 'null',
                        "orderable": false,
                        render: function (data, type, row) {

                            var results = "<div class='nk-tb-col nk-tb-col-tools py-0 border-0'><ul class='nk-tb-actions gx-1 my-n1'><li class='me-n1'> <div class='dropdown'><a href='#' class='dropdown-toggle btn btn-icon btn-trigger' data-bs-toggle='dropdown'><em class='icon ni ni-more-h'></em></a><div class='dropdown-menu dropdown-menu-end' > <ul class='link-list-opt no-bdr' > <li><a href='javascript:void(0)' id = 'btnViewLeaveDetail' data-empid=" + row.empId + " data-id=" + row.compensatoryId + " data-empname=" + row.employeename + "><em class='icon ni ni-eye'></em><span>View</span></a></li>";
                            if (@loginRoleId == 1 || @loginRoleId == 2) {

                                if (row.isApproved == 0) {

                                    results += "<li><a href='javascript:void(0)' id ='btnLeaveApproved' data-empid=" + row.empId + " data-id=" + row.compensatoryId + " data-empname=" + row.employeeName + " > <em class='icon ni ni-check' ></em><span>Approve</span ></a></li><li><a href='javascript:void(0)' id = 'rejectLeaveBtn' data-empid=" + row.empId + " data-id=" + row.compensatoryId + " data-empname=" + row.employeeName + "><em class='icon ni ni-cross'></em><span>Reject</span></a></li>";

                                }
                            }
                            else {
                                if (row.empId == @loginEmpId) {
                                    if (row.isApproved == 0) {

                                        if (row.empId == @loginEmpId) {
                                            results += "<div class='dropdown-menu dropdown-menu-end'> <ul class='link-list-opt no-bdr' ><li><a href='javascript:void(0)' id='btnViewLeaveDetail' data-empid=" + row.empId + " data-id=" + row.compensatoryId + " data-empname=" + row.employeeName + " ><em class='icon ni ni-eye'></em><span>View</span ></a></li><li><a href='javascript: void (0)' class='editLeaveBtn' data-id=" + row.compensatoryId + " data-remark=" + row.remark + " data-isconfirm=" + row.isApproved + " data-workeddate=" + dateFormat(row.workedDate) + "><em class='icon ni ni-edit'></em><span>Edit</span></a></li>";
                                        }
                                    }
                                    else {
                                        results += "<div class='dropdown-menu dropdown-menu-end'><ul class='link-list-opt no-bdr'><li><a href='javascript:void(0)' id = 'btnViewLeaveDetai' data-empid=" + row.empId + " data-id=" + row.compensatoryId + " data-empname=" + row.employeeName + "><em class='icon ni ni-eye'></em><span>View</span></a></li>";

                                    }
                                }
                                else {
                                    if (row.isApproved == 0) {
                                        results += "<li><a href='javascript:void(0)' id ='btnViewLeaveDetail' data-empid=" + row.empId + " data-id=" + row.compensatoryId + " data-empname=" + row.employeeName + "><em class='icon ni ni-eye'></em><span>View</span></a></li> <li><a href='javascript: void (0)' id = 'btnLeaveApproved' data-empid=" + row.empId + " data-id=" + row.compensatoryId + " data-empname=" + row.employeeName + "><em class='icon ni ni-check'></em><span>Approve</span></a></li><li><a href='javascript: void (0' id = 'rejectLeaveBtn' data-empid=" + row.empId + " data-id=" + row.compensatoryId + " data-empname=" + row.employeeName + "><em class='icon ni ni-cross'></em><span>Reject</span></a></li>";

                                    }
                                    else {
                                        results += " <li><a href='javascript: void (0)' id='btnViewLeaveDetail' data-empid=" + row.empId + " data-id=" + row.compensatoryId + " data-empname=" + row.employeeName + "><em class='icon ni ni-eye'></em><span>View</span></a></li>";
                                    }

                                }

                            }
                            results += "</ul></div></div>";
                            return results;

                        },
                    }
                ],
                "columnDefs": [
                    
                    { "width": "300px", "targets": [0, 1, 2, 3, 4, 5, 6] },
                ],
            
                "createdRow": function (row, data, dataIndex, settings) {
                    // Add custom class to the row
                    $(row).addClass('nk-tb-item');
                    // Add custom classes to each cell in the row if necessary
                    $(row).find('td').addClass('nk-tb-col tb-col');
                },
                "initComplete": function (settings, json) {
                    // Access recordsTotal and recordFiltered
                    var recordsTotal = json.recordsTotal;
                    var recordFiltered = json.recordFiltered;
                    console.log("Total records: " + recordsTotal);
                    console.log("Filtered records: " + recordFiltered);
                }
            });

            function getClassNameForGrid(input) {
                var className = "";

                switch (input) {
                    case 1:
                        className = "bg-success";
                        break;
                    case 2:
                        className = "bg-warning";
                        break;
                    case 3:
                        className = "bg-info";
                        break;
                    case 4:
                        className = "bg-blue";
                        break;
                    case 5:
                        className = "bg-pink";
                        break;
                    case 6:
                        className = "bg-danger";
                        break;
                }
                return className;
            }
        }
        
        // $('[data-bs-toggle="tooltip"]').tooltip();
        $("body").tooltip({ selector: '[data-bs-toggle=tooltip]' });

        $(document).on('click', '.sorting, .sorting_asc, .sorting_desc', function (e) {
            var target = e.target;
            var parent = target.parentNode;
            var index = [].indexOf.call(parent.children, target);

            if ($(this).hasClass('sorting_asc')) {
                columnDirection = 'desc';
            }
            else {
                columnDirection = 'asc'; // Assuming default sorting direction is descending
            }

            columnIndex = $(this).data('id');
        });
    });

    $(document).ready(function () {
        $("#leaveFromDate").change(function () {

            $("#errValid-LeaveFromDate").text("");
            if ($("#leaveFromDate").val() == "") {
                $("#errValid-LeaveFromDate").text("Worked Date field is required");
            }
            else {
                $("#errValid-LeaveFromDate").text("");
            }
        });

        $("#leaveFromDatedatepicker").datepicker({
            autoclose: true,
            todayHighlight: true,
            endDate: "today",
        });

        $("#LeaveFromDatedatepicker").datepicker({
            autoclose: true,
            todayHighlight: true,
            endDate: "today",
        });


        $("#CreateLeaveType").click(function () {
            $("#Create_Popup").modal('show');
        });
    })

    $("#Remark").keyup(function () {
        
        var isValid = true;
        $("#errValid-Remark").text("");
        if ($("#Remark").val() == "") {
            $("#errValid-Remark").text("Remark field is required");
            isValid = false;
        }
    });
    

    $("#btnCancelCreate").click(function () {


        $("#leaveFromDate").val("");
        $("#Remark").val("");
        $("#errValid-LeaveFromDate").text("");
        $("#errValid-Remark").text("");
        $("#Create_Popup").modal('hide');
    });

    $("#btnCancel").click(function () {
        $("#success_Leave_Popup").modal('hide');
    });

    $('#getLeaveData').on('click', '#viewEmployee', function () {
        var empId = $(this).data('empid');
        window.location.href = "/Employees/ViewEmployee?empId=" + empId;
    });

    $('#getLeaveData').on('click', '.editLeaveBtn', function () {

        $("#success_Leave_Popup").modal('show');
        var id = $(this).data(id)
        $("#CompensatoryId").val(id.id);
        $("#remark").text(id.remark);
        $("#LeaveFromDate").val(id.workeddate)
        $('#success_Leave_Popup').on('click', '#btnCreateLeave', function () {

            var formData = new FormData();
            var isValid = true;

            $("#errValid-Remark").text("");
            $("#errValid-LeaveFromDate").text("");

            if ($("#remark").val() == "") {
                $("#errValid-Remark").text("Remark field is required");
                isValid = false;
            }

            if ($("#LeaveFromDate").val() == "") {
                $("#errValid-LeaveFromDate").text("Worked Date field is required");
                isValid = false;
            }

            var empId = $("#EmpId").val();
            var compensatoryId = $("#CompensatoryId").val();
            var remark = $("#remark").val();
            var leaveFromDate = $("#LeaveFromDate").val();
            formData.append("CompensatoryId", compensatoryId);
            formData.append("EmpId", empId);
            formData.append("Remark", remark);
            formData.append("StrWorkedDate", leaveFromDate);

            if (isValid) {
                $.ajax({
                    type: "POST",
                    url: "/WorkFromHome/CreateCompensatoryRequest",
                    data: formData,
                    contentType: false,
                    processData: false,
                    beforeSend: function () {
                        $('.loader').removeClass('d-none');
                    },
                    success: (Result) => {
                        if (Result == true) {
                            $("#success_Leave_Popup").modal("hide");
                            swal.fire({
                                title: "Applied successfully",
                                text: "",
                                icon: "success",
                                allowOutsideClick: false  // This prevents closing on outside click
                            }).then((resultValue) => {
                                if (resultValue.isConfirmed) {

                                    var urlToRedirect = '@Url.Action("CompensatoryOffRequests", "WorkFromHome")';
                                    window.location.href = urlToRedirect;
                                };
                            });
                            $("#CompensatoryId").val('');
                            $("#EmpId").val('');
                            $("#remark").text('');
                            $("#LeaveFromDate").val('');

                        }
                        else {
                            swal.fire({
                                title: "Something error",
                                text: "",
                                icon: "error",
                                allowOutsideClick: false  // This prevents closing on outside click
                            }).then((resultValue) => {
                                window.location.href = "/WorkFromHome/CompensatoryOffRequests";
                            });

                        }
                        // $("#btnCloseLeave").css('display', 'none !important');

                        $('.loader').addClass('d-none');
                    },

                    error: (Result) => {
                        $('.loader').addClass('d-none');
                    }
                });

            }
            else {

                return false;
            }

        });
    });
    function dateFormat(startDate) {

        var dateObject = new Date(startDate);
        var day = ("0" + dateObject.getDate()).slice(-2);
        var month = ("0" + (dateObject.getMonth() + 1)).slice(-2);
        var year = dateObject.getFullYear();
        var formattedDate = day + "/" + month + "/" + year;
        return formattedDate;
    }

    $('#getLeaveData').on('click', '#btnViewLeaveDetail', function () {
        var id = $(this).data('id');
        PageUtil.goToContent("/WorkFromHome/ViewEmployeeCompensatotyOff?CompensatoryId=" + id);
    });

    $('#getLeaveData').on('click', '#btnLeaveDelete', function () {
        Swal.fire({
            title: 'Are you sure want to delete?',
            // text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#1ee0ac',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes',
            cancelButtonText: 'No',
            allowOutsideClick: false
        }).then((result) => {
            if (result.isConfirmed) {
                var id = $(this).data("id")
                var empid = $(this).data("empid")
                var leave = {
                    CompensatoryId: id,
                    empId: empid
                };
                $('.loader').removeClass('d-none');
                $.ajax({
                    type: "POST",
                    url: "/WorkFromHome/DeleteWorkFromHome",
                    data: leave,
                    success: (Result) => {

                        if (Result = "Success") {
                            $("#success_Delete_Popup").modal('show');
                            $("#btnCloseDelete").click(function () {
                                var urlToRedirect = '@Url.Action("WorkFromHome", "CompensatoryOffRequests")';
                                window.location.href = urlToRedirect;
                            });
                        }
                        else {
                            swal.fire({
                                title: "Something error",
                                text: "",
                                icon: "error",
                                allowOutsideClick: false  // This prevents closing on outside click
                            }).then((result) => {
                                var urlToRedirect = '@Url.Action("WorkFromHome", "CompensatoryOffRequests")';
                                window.location.href = urlToRedirect;
                            });

                        }

                        $('.loader').addClass('d-none');
                    },
                    error: (Result) => {
                        $('.loader').addClass('d-none');
                    }
                });
            }
        })
    });

    $('#getLeaveData').on('click', '#btnLeaveApproved', function () {
        Swal.fire({
            title: 'Are you sure want to Approve?',
            //  text: "You are Approve this request!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#1ee0ac',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes',
            cancelButtonText: 'No',
            allowOutsideClick: false
        }).then((result) => {
            if (result.isConfirmed) {
                //$('#success_Reject_Popup').show();
                $("#errValid-Reason").text("");
                $("#success_Reject_Popup").modal("show");
                var employeename = $(this).data("empname")
                $("#employeeName").text(employeename);
                var id = $(this).data("id");
                var empId = $(this).data("empid");

                $('#success_Reject_Popup').on('click', '#btnreject', function () {
                    var isValid = true;
                    
                    var reason = $("#RejectReason").val();
                    var leave = {
                        CompensatoryId: id,
                        EmpId: empId,
                        Reason: reason
                    };
                    if (isValid) {
                        $('.loader').removeClass('d-none');
                        $.ajax({
                            type: "POST",
                            url: "/WorkFromHome/ApprovedCompensatoryOff",
                            data: leave,
                            success: (Result) => {


                                if (Result = true) {
                                    $("#success_Reject_Popup").modal("hide");
                                    swal.fire({
                                        title: "Approved successfully",
                                        text: "",
                                        icon: "success",
                                        allowOutsideClick: false  // This prevents closing on outside click
                                    }).then((resultValue) => {
                                        if (resultValue.isConfirmed) {
                                            window.location.href = "/WorkFromHome/CompensatoryOffRequests"
                                        };
                                    });

                                }
                                else {
                                    swal.fire({
                                        title: "Something error",
                                        text: "",
                                        icon: "error",
                                        allowOutsideClick: false  // This prevents closing on outside click
                                    }).then((resultValue) => {
                                        window.location.href = "/LeaveSummary/EmployeesLeaveDetails";
                                    });

                                }

                                $('.loader').addClass('d-none');
                            },
                            error: (Result) => {
                                $('.loader').addClass('d-none');
                            }
                        });
                    }
                    else {
                        $("#errValid-Reason").show();
                        return false;
                    }

                })

                $("#btnCloseReject").click(function () {
                    window.location.href = "/WorkFromHome/CompensatoryOffRequests";
                })
            }
        })
    });

    $('#getLeaveData').on('click', '#rejectLeaveBtn', function () {
        Swal.fire({
            title: 'Are you sure want to Reject?',
            //text: "You are Reject this request!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#1ee0ac',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes',
            cancelButtonText: 'No',
            allowOutsideClick: false
        }).then((result) => {
            if (result.isConfirmed) {
                  $("#mustReason").text("*");
                //$('#success_Reject_Popup').show();
                $("#errValid-Reason").text("");
                $("#success_Reject_Popup").modal("show");

                    $("#RejectReason").keyup(function () {
                    var isValid = true;
                    $("#errValid-Reason").text("");
                        if ($("#RejectReason").val().trim() === "") {
                        $("#errValid-Reason").text("Reason field is required");
                        isValid = false;
                    }
                });
                var employeename = $(this).data("empname")
                $("#employeeName").text(employeename);
                var id = $(this).data("id");
                var empId = $(this).data("empid");

                $('#success_Reject_Popup').on('click', '#btnreject', function () {
                    var isValid = true;
                    $("#errValid-Reason").text("");
                     if ($("#RejectReason").val().trim() === "") {
                        $("#errValid-Reason").text("Reason field is required");
                        isValid = false;
                    }

                    var reason = $("#RejectReason").val();
                    var leave = {
                        CompensatoryId: id,
                        EmpId: empId,
                        Reason: reason
                    };
                    if (isValid) {
                        $('.loader').removeClass('d-none');
                        $.ajax({
                            type: "POST",
                            url: "/WorkFromHome/RejectCompensatoryOff",
                            data: leave,
                            success: (Result) => {

                                if (Result = true) {
                                    $("#success_Reject_Popup").modal("hide");
                                    swal.fire({
                                        title: "Rejected successfully",
                                        text: "",
                                        icon: "success",
                                        allowOutsideClick: false  // This prevents closing on outside click
                                    }).then((resultValue) => {
                                        if (resultValue.isConfirmed) {
                                            window.location.href = "/WorkFromHome/CompensatoryOffRequests"
                                        };
                                    });

                                }
                                else {
                                    swal.fire({
                                        title: "Something error",
                                        text: "",
                                        icon: "error",
                                        allowOutsideClick: false  // This prevents closing on outside click
                                    }).then((resultValue) => {
                                        if (resultValue.isConfirmed) {
                                            window.location.href = "/WorkFromHome/CompensatoryOffRequests"
                                        };
                                    });

                                }


                                $('.loader').addClass('d-none');
                            },
                            error: (Result) => {
                                $('.loader').addClass('d-none');
                            }
                        });
                    }
                    else {
                        $("#errValid-Reason").show();
                        return false;
                    }

                })

                $("#btnCloseReject").click(function () {
                    window.location.href = "/WorkFromHome/CompensatoryOffRequests";
                })

            }
        })
    });

    $("#btnCreate").click(function () {

        var formData = new FormData();
        var isValid = true;

        $("#errValid-Remark").text("");
        $("#errValid-LeaveFromDate").text("");

        if ($("#Remark").val() == "") {
            $("#errValid-Remark").text("Remark field is required");
            isValid = false;
        }

        if ($("#leaveFromDate").val() == "") {
            $("#errValid-LeaveFromDate").text("Worked Date field is required");
            isValid = false;
        }

        var empId = $("#EmpId").val();
        var remark = $("#Remark").val();
        var leaveFromDate = $("#leaveFromDate").val();
        formData.append("EmpId", empId);
        formData.append("Remark", remark);
        formData.append("StrWorkedDate", leaveFromDate);

        if (isValid) {
            $.ajax({
                type: "POST",
                url: "/WorkFromHome/CreateCompensatoryRequest",
                data: formData,
                contentType: false,
                processData: false,
                beforeSend: function () {
                    $('.loader').removeClass('d-none');
                },
                success: (Result) => {
                    if (Result == true) {
                        $("#Create_Popup").modal("hide");
                        swal.fire({
                            title: "Applied successfully",
                            text: "",
                            icon: "success",
                            allowOutsideClick: false  // This prevents closing on outside click
                        }).then((resultValue) => {
                            if (resultValue.isConfirmed) {
                                var urlToRedirect = '@Url.Action("CompensatoryOffRequests", "WorkFromHome")';
                                window.location.href = urlToRedirect;
                            };
                        });

                    }
                    $('.loader').addClass('d-none');
                },

                error: (Result) => {
                    $('.loader').addClass('d-none');
                }
            });
        }
        else {
    @*$("#errValid-LeaveType").show();*@
          return false;
        }
    });
    $(document).ready(function () {
        $('#Create_Popup').modal({
            backdrop: 'static',
            keyboard: false
        })
        $('#success_Leave_Popup').modal({
            backdrop: 'static',
            keyboard: false
        })
    });
</script>



