@using EmployeeInformations.Model.MasterViewModel;
@model DashboardMenusViewModel
@{
    ViewBag.Title = "DashboardMenus";
    Layout = "_Layout";
}

<div class="nk-block-head nk-block-head-sm">
    <div class="nk-block-between">
        <div class="nk-block-head-content">
            <h3 class="nk-block-title page-title">Dashboard Menus</h3>
        </div><!-- .nk-block-head-content -->
        <div class="d-flex mb-1">
            <input type="button" class="btn btn-primary ml-auto mt-auto mb-auto btn-sm" id="CreateDashboard" value="Create" />
        </div>
    </div><!-- .nk-block-between -->
</div>


<div class="card card-bordered card-preview">
    <div class="card-inner table-card">
        <table class="display employee-holiday-table mb-3 no-sorting" style="width:100%" data-auto-responsive="false" id="getDashboard">
            <thead>
                <tr class="nk-tb-item table-header">
                    <th class="nk-tb-col"><span class="sub-text">Name</span></th>
                    <th class="nk-tb-col"><span class="sub-text">Status</span></th>
                    <th class="nk-tb-col tb-col"><span class="sub-text">Action</span></th>
                    @* <th class="nk-tb-col nk-tb-col-tools">
                    <div class="nk-tb-col py-0 border-0">
                    <ul class="nk-tb-actions gx-1 my-n1">
                    <li class="me-n1">
                    <div class="dropdown">
                    <a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-bs-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>

                    </div>
                    </li>
                    </ul>
                    Action
                    </div>
                    </th>*@
                </tr>
            </thead>

            <tbody>
                @if (Model.DashboardMenus.Count() > 0)
                {
                    @foreach (var item in Model.DashboardMenus)
                    {
                        <tr class="nk-tb-item">
                            <td class="nk-tb-col tb-col">
                                <b class="tb-sub text-primary">@item.MenuName</b>
                            </td>
                            @if (item.IsActive)
                            {
                                <td class="nk-tb-col tb-col">
                                    <b class="badge badge-dot bg-success">Active</b>
                                </td>
                            }
                            else
                            {
                                <td class="nk-tb-col tb-col">
                                    <b class="badge badge-dot bg-danger">In Active</b>
                                </td>
                            }
                            <td class="nk-tb-col tb-col">

                                <div class="nk-tb-col nk-tb-col-tools py-0 border-0">
                                    <ul class="nk-tb-actions gx-1 my-n1">
                                        <li class="me-n1">
                                            <div class="dropdown">
                                                <a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-bs-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>

                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <ul class="link-list-opt no-bdr">
                                                        <li><a href="javascript:void(0)" class="btnUpdatePopup" data-id="@item.MenuId" data-isactive="@item.IsActive" data-name="@item.MenuName"><em class="icon ni ni-edit"></em><span>Edit</span></a></li>
                                                        <li><a href="javascript:void(0)" id="btnDelete" data-id="@item.MenuId"><em class="icon ni ni-delete"></em><span>Delete</span></a></li>
                                                    </ul>
                                                </div>

                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </td>

                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>


<div class="modal" id="Create_Popup" style="display:none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Menu</h5>
            </div>
            <!-- Modal body -->
            <div class="modal-body" id="txtSuccessMeg">
                <div>
                    <div class="col-12">
                        <div class="form-group">
                            <label class="form-label">Name<span class="required" style="color: #FF0000">*</span></label>
                            <input type="text" class="form-control" id="MenuName" />
                            @Html.ValidationMessageFor(m => m.MenuName,"",new{@class="error text-danger",id="errValid-MenuName"})
                            <span id="errVerify-MenuName" style="display:none;" class="error text-danger">Name already exists! </span>
                        </div>
                        <span class="error text-danger" id="errValid-MenuName"></span>
                    </div>
                </div>

                <div class="col-lg-12 d-flex mt-3 p-0">
                    <input type="button" class="btn btn-primary ml-auto mr-3" id="btnCreate" value="Save" />
                    <input type="button" class="btn btn-danger" id="btnCloseMenu" value="Cancel" />
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="Update_Popup" style="display:none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Status</h5>
            </div>
            <!-- Modal body -->
            <div class="modal-body" id="txtSuccessMeg">

                <div class="col-12 d-flex mb-2">
                    <label class="form-label my-auto">Menu</label>
                    <div class="form-group m-0">
                        <label class="badge badge-sm bg-outline-primary ml-2" id="menuNames"></label>
                    </div>
                </div>


                <div class="col-12">
                    <div class="form-group">
                        <div class="custom-control custom-control-sm custom-checkbox">
                            <input type="checkbox" name="chkIsActiveModule" class="custom-control-input chkIsActiveModule" id="chkIsActiveModule">
                            <label class="custom-control-label" for="chkIsActiveModule">Status</label>
                        </div>
                    </div>
                    <span class="error text-danger" id="errValid-Name"></span>
                </div>

                <div class="col-lg-12 d-flex mt-3 p-0">
                    <input type="button" class="btn btn-primary ml-auto mr-3" id="btnIsActive" value="Save" />
                    <input type="button" class="btn btn-danger" id="btnCloseUpdate" value="Cancel" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="success_DeleteRole_Popup" style="display:none;">
    <div class="modal-dialog">
        <div class="modal-content p-3 text-center">
            <!-- Modal body -->
            <div class="modal-body" id="txtSuccessMeg">
                <h4 class="nk-modal-title">Deleted Successfully!</h4>
            </div>

            <!-- Modal footer -->
            <div class="text-center" id="btnCloseDelete">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>

    </div>
</div>

<script>
    $(document).ready(function () {
        $('#getDashboard').DataTable({
            "bInfo": true,
            "paging": true
        });
    });

    $("#btnCloseMenu").click(function () {
        $("#Create_Popup").hide();
        window.location.href = "/Master/DashboardMenus";
    });

    $("#btnCloseUpdate").click(function () {
        $("#Update_Popup").hide();
        window.location.href = "/Master/DashboardMenus";
    });

    $(document).ready(function () {
        $("#CreateDashboard").click(function () {
            $("#Create_Popup").modal('show');
        });
    });

    $("#MenuName").keyup(function () {
        var isValid = true;
        $("#errValid-MenuName").text("");
        $("#errVerify-MenuName").hide();

        if ($("#MenuName").val() == "") {
            $("#errValid-MenuName").text("Name field is required");
            isValid = false;
        }
    });
    //-----------------------------------------------------------------------------------------------------------------------------------

    // Create Dashboard menu

    $("#btnCreate").click(function () {
        var isValid = true;
        var formData = new FormData();
        $("#errValid-MenuName").text("");
        $("#errVerify-MenuName").hide();

        if ($("#MenuName").val() == "") {
            $("#errValid-MenuName").text("Name field is required");
            isValid = false;
        }

        var menuName = $("#MenuName").val();
        formData.append("MenuName", menuName);
        var modules = {
            MenuName: menuName
        };
       
        if (isValid) {
           
            $('.loader').removeClass('d-none');
            $.ajax({
                type: "POST",
                url: "/Master/AddDashboardMenu",
                data: modules,
                beforeSend: function () {
                    $('.loader').removeClass('d-none');
                },
                success: (Result) => {
                    $('.loader').addClass('d-none');
                    $("#Create_Popup").css('display', 'none !important');
                    if (Result.menuNameCount == 1) {
                        $('.loader').addClass('d-none');
                        $("#errVerify-MenuName").show();
                        return false;
                    } else {
                        if (Result.menuId > 0) {
                            swal.fire({
                                    title: "Added Successfully",
                                    text: "",
                                    icon: "success",
                                    allowOutsideClick: false  // This prevents closing on outside click
                                }).then((resultValue) => {
                                        if (resultValue.isConfirmed) {
                                window.location.href = "/Master/DashboardMenus";
                            };
                                });
                           
                        }
                        else {
                            swal.fire({
                                title: "Something error",
                                text: "",
                                icon: "error",
                                allowOutsideClick: false  // This prevents closing on outside click
                            }).then((resultValue) => {
                                    window.location.href = "/Master/DashboardMenus";
                            });
                            
                        }
                    }

                },
                error: (Result) => {
                    $('.loader').addClass('d-none');
                }
            });            
        }
        else {
            $('.loader').addClass('d-none');
            $("#errValid-MenuName").show();
            return false;
        }

    });
    //--------------------------------------------------------------------------------------------------------------------------------------

    // update dashboard menu

    $('#getDashboard').on('click', '.btnUpdatePopup', function () {
        $("#Update_Popup").modal('show');
        var menuname = $(this).data("name");
        var isActive = $(this).data("isactive");
        $("#menuNames").text(menuname);
        isActive == 'True' ? $(".chkIsActiveModule").prop("checked", true) : $(".chkIsActiveModule").prop("checked", false);
        $("#menuAction").val(isActive);
        var menuid = $(this).data("id");

        $('#Update_Popup').on('click', '#btnIsActive', function () {
            var menuAction = $('.chkIsActiveModule').prop('checked');
            var modules = {
                MenuId: menuid,
                IsActive: menuAction
            };

            $('.loader').removeClass('d-none');

            $.ajax({
                type: "POST",
                url: "/Master/UpdateDashboardMenus",
                data: modules,
                success: (Result) => {
                    $("#Update_Popup").css('display', 'none !important');
                    if (Result > 0) {
                        swal.fire({
                            title: "Updated Successfully",
                            text: "",
                            icon: "success",
                            allowOutsideClick: false  // This prevents closing on outside click
                                }).then((resultValue) => {
                                if (resultValue.isConfirmed) {
                                    window.location.href = "/Master/DashboardMenus";
                                };
                        });
                       
                    } else {
                        swal.fire({
                            title: "Something error",
                            text: "",
                            icon: "error",
                            allowOutsideClick: false  // This prevents closing on outside click
                        }).then((resultValue) => {
                                window.location.href = "/Master/DashboardMenus";
                        });
                        
                    }

                    $('.loader').addClass('d-none');
                },
                error: (Result) => {
                    $('.loader').addClass('d-none');
                }
            });
        });

    });
    // ---------------------------------------------------------------------------------------------------------------------------------------------------

    // Delete Dashboard menu

    $('#getDashboard').on('click', '#btnDelete', function () {
        Swal.fire({
            title: 'Are you sure want to delete?',
            //text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#1ee0ac',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes',
            cancelButtonText: 'No',
            allowOutsideClick: false
        }).then((result) => {
            if (result.isConfirmed) {
                var id = $(this).data("id")
                var modules = {
                    MenuId: id
                };

                $('.loader').removeClass('d-none');

                $.ajax({
                    type: "POST",
                    url: "/Master/DeleteDashboardMenus",
                    data: modules,
                    success: (Result) => {
                        if (Result = true) {
                            swal.fire({
                                title: "Deleted Successfully!",
                                text: "",
                                icon: "success",
                                allowOutsideClick: false  // This prevents closing on outside click
                            }).then((resultValue) => {
                                    window.location.href = "/Master/DashboardMenus";
                            });
                           
                        } else {
                            swal.fire({
                                title: "Something error",
                                text: "",
                                icon: "error",
                                allowOutsideClick: false  // This prevents closing on outside click
                            }).then((resultValue) => {
                                    window.location.href = "/Master/DashboardMenus";
                            });                           
                        }
                        $('.loader').addClass('d-none');
                    },
                    error: (Result) => {
                        $('.loader').addClass('d-none');
                    }

                });
            }
        });

    });
    $(document).ready(function () {
        $('#Create_Popup').modal({
            backdrop: 'static',
            keyboard: false
        })
        $('#Update_Popup').modal({
            backdrop: 'static',
            keyboard: false
        })
    });
</script>