@using EmployeeInformations.Model.MasterViewModel;
@model DocumentTypesViewModel
@{
    ViewBag.Title = "DocumentTypes";
    Layout = "_Layout";
}

<div class="nk-block-head nk-block-head-sm">
    <div class="nk-block-between">
        <div class="nk-block-head-content">
            <h3 class="nk-block-title page-title">Document Type Details</h3>
        </div><!-- .nk-block-head-content -->
        <div class="d-flex mb-1">
            <input type="button" class="btn btn-primary ml-auto mt-auto mb-auto btn-sm" id="CreateDocumentType" value="Create" />
        </div>
    </div><!-- .nk-block-between -->
</div>

<div class="card card-bordered card-preview">
    <div class="card-inner table-card">
        <table class="display employee-holiday-table mb-3 no-sorting" style="width:100%" data-auto-responsive="false" id="getDocumentType">
            <thead>
                <tr class="nk-tb-item table-header">
                    <th class="nk-tb-col"><span class="sub-text">Name</span></th>
                    <th class="nk-tb-col"><span class="sub-text">Status</span></th>
                    <th class="nk-tb-col tb-col"><span class="sub-text">Action</span></th>
                    @* <th class="nk-tb-col nk-tb-col-tools">
                    <div class="nk-tb-col py-0 border-0">
                    <ul class="nk-tb-actions gx-1 my-n1">
                    <li class="me-n1">
                    <div class="dropdown">
                    <a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-bs-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>

                    </div>
                    </li>
                    </ul>
                    Action
                    </div>
                    </th>*@
                </tr>
            </thead>

            <tbody>
                @if (Model.DocumentType.Count() > 0)
                {
                    @foreach (var item in Model.DocumentType)
                    {
                        <tr class="nk-tb-item">
                            <td class="nk-tb-col tb-col">
                                <b class="tb-sub text-primary">@item.DocumentName</b>
                            </td>

                            @if (item.IsActive)
                            {
                                <td class="nk-tb-col tb-col">
                                    <b class="badge badge-dot bg-success">Active</b>
                                </td>
                            }
                            else
                            {
                                <td class="nk-tb-col tb-col">
                                    <b class="badge badge-dot bg-danger">In Active</b>
                                </td>
                            }
                            <td class="nk-tb-col tb-col">

                                <div class="nk-tb-col nk-tb-col-tools py-0 border-0">
                                    <ul class="nk-tb-actions gx-1 my-n1">
                                        <li class="me-n1">
                                            <div class="dropdown">
                                                <a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-bs-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <ul class="link-list-opt no-bdr">
                                                        <li><a href="javascript:void(0)" class="btnUpdate" data-id="@item.DocumentTypeId" data-documentname="@item.DocumentName" data-isactive="@item.IsActive"><em class="icon ni ni-edit"></em><span>Edit</span></a></li>
                                                        <li><a href="javascript:void(0)" id="btnDelete" data-id="@item.DocumentTypeId"><em class="icon ni ni-delete"></em><span>Delete</span></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </td>

                        </tr>
                        <!-- .nk-tb-item  -->
                    }
                }
            </tbody>
        </table>
    </div>
</div>


<div class="modal" id="success_DeleteDocumentType_Popup" style="display:none;">
    <div class="modal-dialog">
        <div class="modal-content p-3 text-center">
            <!-- Modal body -->
            <div class="modal-body" id="txtSuccessMeg">
                <h4 class="nk-modal-title"> Deleted Successfully!</h4>
            </div>

            <!-- Modal footer -->
            <div class="text-center" id="btnCloseDeleteDocumentType">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>

    </div>
</div>

<div class="modal" id="Create_Popup" style="display:none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Document Type</h5>
            </div>
            <!-- Modal body -->
            <div class="modal-body" id="txtSuccessMeg">
                <div class="col-12">
                    <div class="form-group">
                        <label class="form-label">Name<span class="required" style="color: #FF0000">*</span></label>
                        <input type="text" class="form-control" id="DocumentName" />
                        @Html.ValidationMessageFor(m => m.DocumentName, "", new { @class = "error text-danger", id = "errValid-DocumentName" })
                        <span id="errVerify-DocumentName" style="display:none;" class="error text-danger">Name already exists! </span>
                    </div>
                    <span class="error text-danger" id="errValid-DocumentName"></span>
                </div>

                <div class="col-lg-12 d-flex mt-3 p-0">
                    <input type="button" class="btn btn-primary ml-auto mr-3" id="btnCreate" value="Save" />
                    <input type="button" class="btn btn-danger" id="btnCloseDocument" value="Cancel" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="success_Document_Popup" style="display:none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Status</h5>
            </div>
            <!-- Modal body -->
            <div class="modal-body" id="txtSuccessMeg">

                <div class="col-12 d-flex mb-2">
                    <label class="form-label my-auto">Document </label>
                    <div class="form-group m-0">
                        <lable class="badge badge-sm bg-outline-primary ml-2" id="Document"> </lable>
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-group">
                        <div class="custom-control custom-control-sm custom-checkbox">
                            <input type="checkbox" name="chkIsActive" class="custom-control-input chkIsActive" id="chkIsActive">
                            <label class="custom-control-label" for="chkIsActive">Status</label>
                        </div>
                        @*   <label>Status</label>
                        <input type="checkbox" class="chkIsActive" name="chkIsActive" />*@
                    </div>
                </div>

                <div class="col-lg-12 d-flex mt-3 p-0">
                    <input type="button" class="btn btn-primary ml-auto mr-3" id="btnCreateDocument" value="Save" />
                    <input type="button" class="btn btn-danger" id="btnDocument" value="Cancel" />
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $('#getDocumentType').DataTable({
            "bInfo": true,
            "paging": true
        });
    });

    // Delete document type

    $('#getDocumentType').on('click', '#btnDelete', function () {
        Swal.fire({
            title: 'Are you sure want to delete?',
            // text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#1ee0ac',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes',
            cancelButtonText: 'No',
            allowOutsideClick: false
        }).then((result) => {
            if (result.isConfirmed) {
                var id = $(this).data("id")
                var documentType = {
                    DocumentTypeId: id
                };

                $('.loader').removeClass('d-none');

                $.ajax({
                    type: "POST",
                    url: "/Master/DeletedDocumentTypeId",
                    data: documentType,
                    success: (result) => {            
                        swal.fire({
                            title: "Deleted Successfully!",
                            text: "",
                            icon: "success",
                            allowOutsideClick: false  // This prevents closing on outside click
                        }).then((resultValue) => {
                                var urlToRedirect = '@Url.Action("DocumentTypes", "Master")';
                                window.location.href = urlToRedirect;
                        });                       
                        $('.loader').addClass('d-none');
                    },
                    error: (result) => {
                        $('.loader').addClass('d-none');
                    }

                });
            }
        });

    });
    //-----------------------------------------------------------------------------------------------------------------------------------------------------

    $(document).ready(function () {
        $("#CreateDocumentType").click(function () {
            $("#Create_Popup").modal('show');
        });
    });


    $("#btnCloseDocument").click(function () {
        $("#Create_Popup").hide();
        var urlToRedirect = '@Url.Action("DocumentTypes", "Master")';
        window.location.href = urlToRedirect;
    });


    $("#DocumentName").keyup(function () {
        var isValid = true;
        $("#errValid-DocumentName").text("");
        $("#errVerify-DocumentName").hide();

        if ($("#DocumentName").val() == "") {
            $("#errValid-DocumentName").text("Name field is required");
            isValid = false;
        }
    });
    //----------------------------------------------------------------------------------------------------------------------------------------------

    // Create document type

    $("#btnCreate").click(function () {
        var formData = new FormData();
        var isValid = true;
        $("#errValid-DocumentName").text("");
        $("#errVerify-DocumentName").hide();
        if ($("#DocumentName").val() == "") {
            $("#errValid-DocumentName").text("Name field is required");
            isValid = false;
        }


        var documentName = $("#DocumentName").val();

        formData.append("DocumentName", documentName);
        if (isValid) {

            var url = "/Master/AddDocumentTypes";
            $.ajax({
                type: "POST",
                url: url,
                data: formData,
                contentType: false,
                processData: false,
                beforeSend: function () {
                    $('.loader').removeClass('d-none');
                },
                success: function (result) {
                    $('.loader').addClass('d-none');
                    $("#Create_Popup").css('display', 'none !important');
                    if (result.documentNameCount == 1) {
                        $("#errVerify-DocumentName").show();
                        return false;
                    }
                    else {
                        if (result.documentTypeId > 0) {
                            swal.fire({
                                title: "Added Successfully",
                                text: "",
                                icon: "success",
                                allowOutsideClick: false  // This prevents closing on outside click
                            }).then((resultValue) => {
                                    window.location.href = "/Master/DocumentTypes";
                            });

                        }
                        else {
                            swal.fire({
                                title: "Something error",
                                text: "",
                                icon: "error",
                                allowOutsideClick: false  // This prevents closing on outside click
                            }).then((resultValue) => {
                                    window.location.href = "/Master/DocumentTypes";
                            });

                        }
                    }

                },
                complete: function () {
                    $('.loader').addClass('d-none');
                }
            });

        }
        else {
            return false;
        }
    });
    //-------------------------------------------------------------------------------------------------------------------------------------------------------

    // update document type

    $('#getDocumentType').on('click', '.btnUpdate', function () {

        $("#success_Document_Popup").modal('show');
        var document = $(this).data("documentname");
        var isactive = $(this).data("isactive");
        $("#Document").text(document);

        isactive == 'True' ? $('.chkIsActive').prop('checked', true) : $('.chkIsActive').prop('checked', false);

        $("#documentAction").val(isactive);
        var id = $(this).data("id");

        $('#success_Document_Popup').on('click', '#btnCreateDocument', function () {

            var documentAction = $('.chkIsActive').prop('checked');
            var Document = {
                DocumentTypeId: id,
                IsActive: documentAction
            };

            $('.loader').removeClass('d-none');

            $.ajax({
                type: "POST",
                url: "/Master/UpdateDocumentTypes",
                data: Document,
                success: (Result) => {
                    $("#success_Document_Popup").css('display', 'none !important');
                    if (Result > 0) {
                        swal.fire({
                            title: "Updated Successfully",
                            text: "",
                            icon: "success",
                            allowOutsideClick: false  // This prevents closing on outside click
                        }).then((resultValue) => {
                                window.location.href = "/Master/DocumentTypes";
                        });

                    }
                    else {
                        swal.fire({
                            title: "Something error",
                            text: "",
                            icon: "error",
                            allowOutsideClick: false  // This prevents closing on outside click
                        }).then((resultValue) => {
                                window.location.href = "/Master/DocumentTypes";
                        });

                    }
                    $('.loader').addClass('d-none');
                },
                error: (Result) => {
                    $('.loader').addClass('d-none');
                }
            });
        });

    });

    $('#btnDocument').click(function () {
        var urlToRedirect = '@Url.Action("DocumentTypes", "Master")';
        window.location.href = urlToRedirect;
    });
    $(document).ready(function () {
        $('#Create_Popup').modal({
            backdrop: 'static',
            keyboard: false
        })
        $('#success_Document_Popup').modal({
            backdrop: 'static',
            keyboard: false
        })
    });

</script>