@using EmployeeInformations.Model.HelpdeskViewModel
@using EmployeeInformations.Common;
@using Microsoft.AspNetCore.Http;
@using EmployeeInformations.Business.IService
@using EmployeeInformations.Common.Enums;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject IEmployeeInformationService employeeInformationService
@model HelpdeskViewModel
@{
    ViewBag.Title = "Helpdesks";
    Layout = "_Layout";
    var loginRoleId = Context.Session.GetInt32("RoleId");
    var rolePrivileges = false;
    if (loginRoleId >= 0)
    {
        var id = loginRoleId.Value;
        int helpDeskModuleId = (int)EmployeesInformationsPages.HelpDesk;
       rolePrivileges = await employeeInformationService.ReadAndWritePermissionByRoleId(helpDeskModuleId, id);
    }
}


<div class="nk-block-head nk-block-head-sm">
    <div class="nk-block-between">
        <div class="nk-block-head-content">
            <h3 class="nk-block-title page-title">Ticket Details</h3>
        </div><!-- .nk-block-head-content -->
        <div class="d-flex mb-1">
            <input type="button" class="btn btn-primary ml-auto mt-auto mb-auto btn-sm" id="CreateHelpdesk" value="Create" />
        </div>
    </div><!-- .nk-block-between -->
</div>

<div class="card card-bordered card-preview">
    <div class="card-inner table-card">

        <table class="display employee-holiday-table mb-3 no-sorting" style="width:100%" data-auto-responsive="false" id="getHelpdesk">
            <thead>
                <tr class="nk-tb-item table-header">
                    <th class="nk-tb-col" data-id="EmployeeName"><span class="sub-text">Employee Name</span></th>
                    <th class="nk-tb-col" data-id="TicketType"><span class="sub-text"> Ticket Type</span></th>
                    <th class="nk-tb-col" data-id="CreatedDate"><span class="sub-text"> Date</span></th>
                    <th class="nk-tb-col" data-id="UpdatedDate"><span class="sub-text"> Fixed Date </span></th>
                    <th class="nk-tb-col" data-id="TicketStatus"><span class="sub-text"> Status </span></th>
                    <th class="nk-tb-col" data-id="Description"><span class="sub-text">Description</span></th>
                    <th class="nk-tb-col tb-col"><span class="sub-text">Action</span></th>
                </tr>
            </thead>            
        </table>
    </div>
</div>


<div class="modal" id="Create_Popup" style="display:none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Ticket</h5>
            </div>
            <!-- Modal body -->
            <div class="modal-body" id="txtSuccessMeg">
                <div class="col-12">
                    <div class="form-group emp-hol-yr">
                        <label class="form-label">Ticket Type<span class="required" style="color: #FF0000">*</span></label>
                        <div class="selectbox">
                            @Html.DropDownListFor(m => m.TicketTypeId, new SelectList(Model.TicketTypes, "TicketTypeId", "TicketName"), "--Select Type--", new { @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(m => m.TicketTypeId, "", new { @class = "error text-danger", @id = "errValid-TicketType" })
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="form-group emp-hol-yr">
                        <label class="form-label">Status<span class="required" style="color: #FF0000">*</span></label>
                        <div class="selectbox">
                            @Html.DropDownListFor(m => m.Status, Html.GetEnumSelectList<TicketStatus>(), "--Select Status--", new { @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(m => m.Status, "", new { @class = "error text-danger", @id = "errValid-Status" })
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-group">
                        <label class="form-label">Description<span class="required" style="color: #FF0000">*</span></label>
                        @Html.TextArea("Description", null, new { cols = "5", rows = "5", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "error text-danger", id = "errValid-Description" })
                    </div>
                </div>

                <div class="col-lg-12" id="documentBlock">
                    <div class="form-group">
                        <label class="form-label" id="documentLable">Document</label>

                        <div class="input-group custom-file-button">
                            @Html.TextBoxFor(m => m.DocumentFilePath, "", new { type = "file", @class = "form-control", name = "file", multiple = "multiple" })
                        </div>
                        <span class="error text-danger" id="errValid-ErrorFileSize"></span>
                    </div>
                </div>

                <div class="col-lg-12 d-flex mt-3 p-0">
                    <input type="button" class="btn btn-primary ml-auto mr-3" id="btnCreate" value="Save" />
                    <input type="button" class="btn btn-danger" id="btnCloseHelpdesk" value="Cancel" />
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    $(document).ready(function () {
        
        var columnIndex = "";
        var columnDirection = "";
        HelpDeskDetails()
        function HelpDeskDetails() {
            var table = $("#getHelpdesk").DataTable();

            if (table) {

                table.destroy();

            }
            $('#getHelpdesk').DataTable({

                serverSide: true,
                processing: true,

                ajax: {
                    url: '/Helpdesk/HelpdesksFilter',
                    type: 'Get',
                    data: function (d) {
                        var searchFilter = document.getElementById("getHelpdesk_filter"); // get search div id
                        var searchInput = searchFilter.querySelector("input[type='search']");  // get search div input
                        var searchValue = searchInput.value;  // get search value
                        var leaveEntry = document.getElementById("getHelpdesk_length"); //get entries div id
                        var entrySelect = leaveEntry.querySelector("select"); //get entries div select
                        entries = entrySelect.value; // get entries value
                        d.sSearch = searchValue;
                        d.iDisplayStart = d.iDisplayStart || 0;
                        d.iDisplayLength = d.iDisplayLength || entries;
                        d.sEcho = d.start;
                        d.columnDirection = columnDirection;
                        d.ColumnName = columnIndex;
                    }
                },
                columns: [{

                    data: 'employeeName',
                    render: function (data, type, row) {
                        return "<b class='tb-sub text-primary'>" + row.employeeName + "</b> ";
                    }
                },
                {

                    data: 'ticketType',
                    render: function (data, type, row) {
                        return "<b class='tb-sub text-primary'>" + row.ticketType + "</b> ";
                    }
                },
                {

                    data: 'date',
                    render: function (data, type, row) {
                        return "<b class='tb-sub text-primary'>" + dateFormat(row.createdDate) + "</b> ";
                    }
                },
                {

                    data: 'fixedDate',
                    render: function (data, type, row) {
                        return "<b class='tb-sub text-primary'>" + (row.updatedDate == null ? "" : dateFormat(row.updatedDate)) + "</b> ";
                    }
                },
                {

                    data: 'status',
                    render: function (data, type, row) {
                        return "<b class='tb-sub text-primary'>" + row.ticketStatus + "</b> ";
                    }
                },
                {

                    data: 'description',
                    render: function (data, type, row) {
                        
                        var trimdescription = row.description.replace(/^\s+|\s+$/g, '')
                        return "<div class='leave-reason'><p type='button' class='tb-sub text-primary' class='tb-sub text-primary' data-bs-toggle='tooltip' data-bs-placement='bottom' title='" + row.description + "'>" + row.description + "</p></div>";
                        
                    }
                },
                {

                    data: 'null',
                        "orderable": false,
                    render: function (data, type, row) {
                        var results = "<div class='nk-tb-col nk-tb-col-tools py-0 border-0'><ul class='nk-tb-actions gx-1 my-n1'><li class='me-n1'><div class='dropdown'><a href='#' class='dropdown-toggle btn btn-icon btn-trigger' data-bs-toggle='dropdown'><em class='icon ni ni-more-h'></em></a><div class='dropdown-menu dropdown-menu-end'><ul class='link-list-opt no-bdr'><li><a href='javascript:void(0)' class='btnUpdate' data-id='" + row.id + "'><em class='icon ni ni-edit'></em><span>Edit</span></a></li><li><a href='javascript:void(0)' id='btnDelete' data-id='" + row.id + "'><em class='icon ni ni-delete'></em><span>Delete</span></a></li><li><a href='javascript:void(0)' id ='btnViewDetail' data-id='" + row.id + "'> <em class='icon ni ni-eye'></em><span>View</span></a></li>";
                        results += row.attachmentName != null ? "<li><a href='javascript:void(0)' id ='btnDownload' data-id='" + row.id + "'><em class='icon ni ni-download'></em><span>Download</span></a></li>" : "";
                        results += "</ul></div></div></li></ul></div>";
                        return results;
                    }
                },

                ],
                "columnDefs": [

                    { "width": "300px", "targets": [0, 1, 2, 3, 4, 5, 6] },
                ],
                "createdRow": function (row, data, dataIndex, settings) {
                    // Add custom class to the row
                    $(row).addClass('nk-tb-item');
                    // Add custom classes to each cell in the row if necessary
                    $(row).find('td').addClass('nk-tb-col tb-col');
                },
                "initComplete": function (settings, json) {
                    // Access recordsTotal and recordFiltered
                    var recordsTotal = json.recordsTotal;
                    var recordFiltered = json.recordFiltered;
                    console.log("Total records: " + recordsTotal);
                    console.log("Filtered records: " + recordFiltered);
                }


            });
            // $('[data-bs-toggle="tooltip"]').tooltip();
            $("body").tooltip({ selector: '[data-bs-toggle=tooltip]' });
        }
        
        function dateFormat(startDate) {

            var dateObject = new Date(startDate);
            var day = ("0" + dateObject.getDate()).slice(-2);
            var month = ("0" + (dateObject.getMonth() + 1)).slice(-2);
            var year = dateObject.getFullYear();
            var formattedDate = day + "/" + month + "/" + year;
            return formattedDate;
        }


        $(document).on('click', '.sorting, .sorting_asc, .sorting_desc', function (e) {
            var target = e.target;
            var parent = target.parentNode;
            var index = [].indexOf.call(parent.children, target);

            if ($(this).hasClass('sorting_asc')) {
                columnDirection = 'desc';
            }
            else {
                columnDirection = 'asc'; // Assuming default sorting direction is descending
            }

            columnIndex = $(this).data('id');
        });
    });

    $(document).ready(function () {

        $("#CreateHelpdesk").click(function () {
            $("#Create_Popup").modal('show');
        });
    });

    $('#getHelpdesk').on('click', '#btnDownload', function () {
        var id = $(this).data("id")
        window.location.href = "/Helpdesk/DownloadHelpdeskFile?Id=" + id;
        $('.loader').addClass('d-none');
    });

    $("#btnCloseHelpdesk").click(function () {
        $("#Create_Popup").hide();
        var urlToRedirect = '@Url.Action("Helpdesks", "Helpdesk")';
        window.location.href = urlToRedirect;
    });

    // Keyup summary

    $("#Description").keyup(function () {
        $("#errValid-Description").text("");

        if ($("#Description").val() == "") {
            $("#errValid-Description").text("Description field is required");
        }
    });

    // Change summary

    $("#Status").change(function () {
        $("#errValid-Status").text("");
        if ($("#Status").val() == "") {
            $("#errValid-Status").text("Status field is required");
        }
    });

    $("#TicketTypeId").change(function () {
        $("#errValid-TicketType").text("");
        if ($("#TicketTypeId").val() == "") {
            $("#errValid-TicketType").text("Ticket Type field is required");
        }
    });

    $(document).on('click', '.btnUpdate', function () {
       
        var Id = $(this).data('id');
        PageUtil.goToContent("/Helpdesk/EditHelpdesk?Id=" + Id);
    });

    //----------------------------------------------------------------------------------------------------------------------------------

    // Create Helpdesk

    $("#btnCreate").click(function () {

        var formData = new FormData();
        var isValid = true;
        $("#errValid-TicketType").text("");
        $("#errValid-Description").text("");
        $("#errValid-Status").text("");

        if ($("#TicketTypeId").val() == "") {
            $("#errValid-TicketType").text("Ticket Type field is required");
            isValid = false;
        }

        if ($("#Description").val() == "") {
            $("#errValid-Description").text("Description field is required");
            isValid = false;
        }

        if ($("#Status :selected").val() == "") {
            $("#errValid-Status").text("Status field is required");
            isValid = false;
        }

        var attachmentLength = $('#DocumentFilePath').prop("files").length;//file attachement length

        for (var x = 0; x < attachmentLength; x++) { //attachmentlength
            if ($('#DocumentFilePath').prop("files")[x].size > 2000000) {
                $("#errValid-ErrorFileSize").text('Allowed file size exceeded. (Max. 2 MB)!');
                return false;
            }
            else {
                formData.append("file", $('#DocumentFilePath').prop("files")[x]);
            }
        }

        var description = $("#Description").val();
        var ticketTypeId = $("#TicketTypeId :selected").val();
        var status = $("#Status :selected").val();

        formData.append("Description", description);
        formData.append("TicketTypeId", ticketTypeId);
        formData.append("Status", status);

        if (isValid) {
            var url = "/Helpdesk/UpsertHelpdesk";
            $.ajax({
                type: "POST",
                url: url,
                data: formData,
                contentType: false,
                processData: false,
                beforeSend: function () {
                    $('.loader').removeClass('d-none');
                },
                success: function (Result) {
                    $('.loader').addClass('d-none');
                    $("#Create_Popup").css('display', 'none !important');
                    $("#Create_Popup").hide();
                    if (Result == true) {
                        swal.fire({
                            title: "Added Successfully",
                            text: "",
                            icon: "success",
                            allowOutsideClick: false  // This prevents closing on outside click
                        }).then((resultValue) => {
                            if (resultValue.isConfirmed) {
                                window.location.href = "/Helpdesk/Helpdesks";
                            };
                        });

                    } else {
                        swal.fire({
                            title: "Something error",
                            text: "",
                            icon: "error",
                            allowOutsideClick: false  // This prevents closing on outside click
                        }).then((resultValue) => {
                            window.location.href = "/Helpdesk/Helpdesks";
                        });
                    }
                },
                complete: function () {
                    $('.loader').addClass('d-none');
                }
            });

        }
        else {
            return false;
        }
    });


    //-----------------------------------------------------------------------------------------------------------------------------------------------

    // Delete

    $('#getHelpdesk').on('click', '#btnDelete', function () {
        Swal.fire({
            title: 'Are you sure want to delete?',
            // text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#1ee0ac',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes',
            cancelButtonText: 'No',
            allowOutsideClick: false
        }).then((result) => {
            if (result.isConfirmed) {
                var id = $(this).data("id")
                var helpdesk = {
                    Id: id
                };
                $('.loader').removeClass('d-none');

                $.ajax({
                    type: "POST",
                    url: "/Helpdesk/DeleteHelpdesk",
                    data: helpdesk,
                    success: (result) => {
                        if (result == true) {
                            swal.fire({
                                title: "Deleted Successfully!",
                                text: "",
                                icon: "success",
                                allowOutsideClick: false  // This prevents closing on outside click
                            }).then((resultValue) => {
                                window.location.href = "/Helpdesk/Helpdesks";
                            });
                        }
                        else {
                            swal.fire({
                                title: "Something error",
                                text: "",
                                icon: "error",
                                allowOutsideClick: false  // This prevents closing on outside click
                            }).then((resultValue) => {
                                window.location.href = "/Helpdesk/Helpdesks";
                            });
                        }
                        $('.loader').addClass('d-none');
                    },
                    error: (result) => {
                        $('.loader').addClass('d-none');
                    }
                });
            }
        });
    });

    $(document).ready(function () {
        $('#Create_Popup').modal({
            backdrop: 'static',
            keyboard: false
        })
    });

    $('#getHelpdesk').on('click', '#btnViewDetail', function () {       
        var Id = $(this).data("id");
        PageUtil.goToContent("/Helpdesk/ViewHelpDesk?Id=" + Id);
    });

</script>

