@using EmployeeInformations.Model.ProjectSummaryViewModel;
@model ProjectAssignation
@{
    ViewBag.Title = "CreateProjectAssignation";
    Layout = "_Layout";
}

<div class="nk-block-head nk-block-head-sm">
    <div class="nk-block-between">
        <div class="nk-block-head-content">
            <h3 class="nk-block-title page-title">Create Project Assignation</h3>
        </div><!-- .nk-block-head-content -->
    </div><!-- .nk-block-between -->
</div>
<div class="card card-bordered card-preview">
    <div class="card-inner">
        <form autocomplete="off">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="row">
                @Html.HiddenFor(m => m.EmpId)
               
                <div class="col-lg-3 col-md-6">
                    <div class="form-group">
                        <label class="form-label">Project<span class="required" style="color: #FF0000">*</span></label>
                        <div>
                            @Html.DropDownListFor(m =>m.ProjectId, new SelectList(Model.ProjectDetails,"ProjectId","ProjectName"), "--Select ProjectName--",new{@class="form-control",id="ProjectId"})
                        </div>
                        @Html.ValidationMessageFor(m => m.ProjectId,"",new{@class="error text-danger" , id="errValid-ProjectId"})
                    </div>
                </div>                             

                <div class="col-lg-3 col-md-6">
                    <div class="form-group emp-hol-yr">
                        <label class="form-label">Developers<span class="required" style="color: #FF0000">*</span></label>
                        <div class="selectbox">
                            @Html.DropDownListFor(m =>m.EmployeeId, new SelectList(Model.DropdownEmployee,"EmpId","FirstName"), "--Select Developers--",new{@class="form-control",id="EmployeeId",multiple=true})
                        </div>
                        @Html.ValidationMessageFor(m => m.EmployeeId,"",new{@class="error text-danger" , id="errValid-EmployeeId"})
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="form-group emp-hol-yr">
                        <label class="form-label">Team Lead<span class="required" style="color: #FF0000">*</span></label>
                        <div class="selectbox">
                            @Html.DropDownListFor(m =>m.TeamLeadId, new SelectList(Model.DropdownTeamLead,"EmpId","UserName"), "--Select TeamLead--",new{@class="form-control",id="TeamLeadId",multiple=true})
                        </div>
                        @Html.ValidationMessageFor(m => m.TeamLeadId,"",new{@class="error text-danger" , id="errValid-TeamLeadId"})
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="form-group emp-hol-yr">
                        <label class="form-label">Project Manager<span class="required" style="color: #FF0000">*</span></label>
                        <div class="selectbox">
                            @Html.DropDownListFor(m =>m.ProjectManagerId, new SelectList(Model.DropdownProjectManager,"EmpId","UserName"), "--Select ProjectManager--",new{@class="form-control",id="ProjectManagerId",multiple=true})
                        </div>
                        @Html.ValidationMessageFor(m => m.ProjectManagerId,"",new{@class="error text-danger" , id="errValid-ProjectManagerId"})
                    </div>
                </div>               
            </div>

            <div class="col-lg-12 d-flex mt-3 p-0">
                <input type="button" class="btn btn-secondary ml-auto mr-3" id="btnBack" value="Back" />
                <input type="button" class="btn btn-primary" id="btnCreateProjectAssignation" value="Save" />
            </div>

        </form>
    </div>
</div>

<div class="modal" id="success_CreateProjectAssignation_Popup" style="display:none;">
    <div class="modal-dialog">
        <div class="modal-content p-3 text-center">

            <!-- Modal body -->
            <div class="modal-body" id="txtSuccessMeg">
                Project Assignation Created Successfully!
            </div>

            <!-- Modal footer -->
            <div class="modal-footer" id="btnCloseProjectAssignation">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    $('#btnBack').click(function () {
        var urlToRedirect = '@Url.Action("Assignation","ProjectDetails")';
        window.location.href = urlToRedirect;
    });
   $(document).ready(function () {

        $("#EmployeeId").select2().on("change", function () {       
            var employeeIds = $("#EmployeeId").val();         
            if (employeeIds[0] == "") {
                $.ajax({
                    type: "Get",
                    url: "/ProjectDetails/GetByEmployeeId?employeeIds=" + employeeIds[0],
                    success: (Result) => {                      
                        if (Result.length != 0) {
                            $('#EmployeeId').html('')
                            $('#EmployeeId').append($('<option> ' + "" + ' </option>').val("").html("--Select Employees--"));
                            $("#EmployeeId option:selected").val("");
                            $.each(Result, function (id, option) {

                                $('#EmployeeId').append($('<option> ' + option.empId + ' </option>').val(option.empId).html(option.firstName));

                            });

                            $('#TeamLeadId').html('')                          
                            $('#ProjectManagerId').html('')                          
                        }
                        else {
                            $('#EmployeeId').html('')
                        }
                    },
                    error: (Result) => {
                        alert("Error occured!!")
                    }
                });
            }
            else{
                $.ajax({
                    type: "Get",
                    url: "/ProjectDetails/GetByEmployeeId?employeeIds=" + employeeIds,
                    success: (Result) => {                     
                        if (Result.length != 0) {
                            $('#TeamLeadId').html('')

                            $.each(Result, function (id, option) {

                                $('#TeamLeadId').append($('<option> ' + option.empId + ' </option>').val(option.empId).html(option.userName));

                            });
                        }
                        else {
                            $('#TeamLeadId').html('')
                        }


                    },
                    error: (Result) => {
                        alert("Error occured!!")
                    }

                });
            }
        });
      

        $("#ProjectManagerId").select2();
        $("#TeamLeadId").select2().on("change", function () {      
            var employeeIds = $("#TeamLeadId").val();                 
            $.ajax({
                type: "Get",
                url: "/ProjectDetails/GetByEmployeeId?employeeIds=" + employeeIds,
                success: (Result) => {
                    $('#ProjectManagerId').html('')

                    $.each(Result, function (id, option) {

                        $('#ProjectManagerId').append($('<option> ' + option.empId + ' </option>').val(option.empId).html(option.userName));

                    });
                },
                error: (Result) => {
                    alert("Error occured!!")
                }
            });
        });
        //-------------------------------------------------------------------------------------------------------------------------------------------------------

        // nice scroll Employees,TeamLead,ProjectManager,Project
        $("#EmployeeId,#TeamLeadId,#ProjectManagerId,#ProjectId").select2().on("select2:open", function () {
            $('.select2-results__options').niceScroll({
                cursorcolor: "#4e5e7a",
                cursorwidth: "5px",
                autohidemode: false,
                cursorborder: "1px solid #4e5e7a",
                horizrailenabled: false,
            });
        });
      
   });

    //-------------------------------------------------------------------------------------------------------------------------------------------------------

   // Change Summary

    $("#EmployeeId").change(function () {
        $("#errValid-EmployeeId").text("")

        if ($("#EmployeeId option:selected").text() == '') {
            $("#errValid-EmployeeId").text("Developers field is required");
        }
        else {
            $("#errValid-EmployeeId").text("")
        }

    });

    $("#TeamLeadId").change(function () {
        $("#errValid-TeamLeadId").text("")

        if ($("#TeamLeadId option:selected").text() == '') {
            $("#errValid-TeamLeadId").text("Team Lead field is required");
        }
        else {
            $("#errValid-TeamLeadId").text("")
        }

    });

    $("#ProjectManagerId").change(function () {
        $("#errValid-ProjectManagerId").text("")

        if ($("#ProjectManagerId option:selected").text() == '') {
            $("#errValid-ProjectManagerId").text("Project Manager field is required");
        }
        else {
            $("#errValid-ProjectManagerId").text("")
        }

    });

    $("#ProjectId").change(function () {
        $("#errValid-ProjectId").text("");
        if ($("#ProjectId").val() == "") {
            $("#errValid-ProjectId").text("Project field is required");
        }
    });
    
    //-------------------------------------------------------------------------------------------------------------------------------------------------------

    // Create Project Assignation

    $("#btnCreateProjectAssignation").click(function () {        
        var formData = new FormData();
        var isValid = true;

        $("#errValid-ProjectId").text("");
        $("#errValid-EmployeeId").text("");
        $("#errValid-TeamLeadId").text("");
        $("#errValid-ProjectManagerId").text("");



        if ($("#ProjectId").val() == "") {
            $("#errValid-ProjectId").text("Project field is required");
            isValid = false;
        }
      
        if ($("#ProjectManagerId").val() == "") {
            $("#errValid-ProjectManagerId").text("Project Manager field is required");
            isValid = false;
        }

        if ($("#TeamLeadId").val() == "") {
            $("#errValid-TeamLeadId").text("Team Lead field is required");
            isValid = false;
        }

        if ($("#EmployeeId").val() == "") {
            $("#errValid-EmployeeId").text("Developers field is required");
            isValid = false;
        }
        

        var empId = $("#EmpId").val();
        var projectId = $("#ProjectId").val();
        var employeeId = $("#EmployeeId").val();
        var teamLeadId = $("#TeamLeadId").val();
        var projectManagerId = $("#ProjectManagerId").val();

        formData.append("EmpId", empId);
        formData.append("ProjectId", projectId);
        formData.append("EmployeeId", employeeId);
        formData.append("TeamLeadId", teamLeadId);
        formData.append("ProjectManagerId", projectManagerId);
       
        if (isValid) {            
            var url = "/ProjectDetails/AddProjectAssignation";
            $.ajax({
                type: "POST",
                url: url,
                data: formData,
                contentType: false,
                processData: false,
                beforeSend: function () {
                    $('.loader').removeClass('d-none');
                },
                success: function (result) {
                    $("#success_CreateProjectAssignation_Popup").css('display', 'none !important');
                    if (result > 0) {
                        swal.fire({
                            title: "Added Successfully",
                            text: "",
                            icon: "success",
                            allowOutsideClick: false  // This prevents closing on outside click
                        }).then((resultValue) => {
                            if (resultValue.isConfirmed > 0) {
                                window.location.href = "/ProjectDetails/Assignation";
                            };
                        });
                        
                    }
                    else {
                        swal.fire({
                            title: "Something error",
                            text: "",
                            icon: "error",
                            allowOutsideClick: false  // This prevents closing on outside click
                        }).then((resultValue) => {
                            window.location.href = "/ProjectDetails/Assignation";
                        });
                        
                    }                    
                },
                complete: function () {
                    $('.loader').addClass('d-none');
                }
            });           
        }
        else {
            return false;
        }
    });
</script>