@using EmployeeInformations.Model.BenefitViewModel
@model EmployeeMedicalBenefitViewModel
@{
    ViewBag.Title = "Medical Benefits";
    // Layout = "_Layout";
}

<div class="nk-block-head nk-block-head-sm">
    <div class="nk-block-between">
        <div class="nk-block-head-content">
            <h3 class="nk-block-title page-title">Medical Benefit</h3>
        </div><!-- .nk-block-head-content -->
        <div class="d-flex mb-1">
            <input type="button" class="btn btn-primary ml-auto mt-auto mb-auto btn-sm" id="btnAddMedicalBenefit" value="Create" />
        </div>
    </div><!-- .nk-block-between -->
</div>

<div class="card card-bordered card-preview">
    <div class="card-inner table-card" id="medicalBenefits">
        <table class="display employee-holiday-table mb-3 no-sorting" style="width:100%" data-auto-responsive="false" id="getMedicalBenefitData">
            <thead>
                <tr class="nk-tb-item table-header">
                    <th class="nk-tb-col" data-id="EmployeeName"><span class="sub-text">Employee Name</span></th>
                    <th class="nk-tb-col tb-col" data-id="Scheme"><span class="sub-text">Scheme</span></th>
                    <th class="nk-tb-col tb-col" data-id="Category"><span class="sub-text">Category</span></th>
                    <th class="nk-tb-col tb-col" data-id="Cost"><span class="sub-text">Cost</span></th>
                    <th class="nk-tb-col tb-col" data-id="Member"><span class="sub-text">Member</span></th>
                    <th class="nk-tb-col tb-col" data-id="MembershipNumber"><span class="sub-text">Membership Number</span></th>
                    <th class="nk-tb-col tb-col"><span class="sub-text">Action</span></th>
                </tr>
            </thead>

        </table>
    </div>
</div>

<div class="modal" id="success_RejectTab2_Popup" style="display:none;">
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Medical Benefits</h5>
            </div>
            <!-- Modal body -->
            <div class="modal-body" id="txtSuccessMeg">
                @Html.HiddenFor(m => m.MedicalBenefitId)
                <div class="col-12">
                    <div class="form-group">
                        <label class="form-label">Employee Name<span class="required" style="color: #FF0000">*</span></label>
                        <div>
                            @Html.DropDownListFor(m => m.EmpId, new SelectList(Model.reportingPeople, "EmpId", "EmployeeName"), "--Select Employee Name--", new { @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(m => m.EmpId, "", new { @class = "error text-danger", id = "errValid-EmployeeName" })
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-group">
                        <label class="form-label">Type</label>
                        <div>
                            @Html.DropDownListFor(m => m.BenefitTypeId, new SelectList(Model.BenefitTypes, "BenefitTypeId", "BenefitName"), "--Select Type--", new { @class = "form-control", id = "BenefitTypeId", @disabled = true })
                        </div>
                        <span class="error text-danger" id="errValid-BenefitTypeId"></span>
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-group">
                        <label class="form-label">Scheme<span class="required" style="color: #FF0000">*</span></label>
                        @Html.TextBoxFor(m => m.Scheme, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Scheme, "", new { @class = "error text-danger", id = "errValid-Scheme" })
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-group">
                        <label class="form-label">Category<span class="required" style="color: #FF0000">*</span></label>
                        @Html.TextBoxFor(m => m.Category, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Category, "", new { @class = "error text-danger", id = "errValid-Category" })
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-group">
                        <label class="form-label">Cost<span class="required" style="color: #FF0000">*</span></label>
                        @if (Model.Cost == 0)
                        {
                            <input type="text" id="Cost" class="form-control" value="">
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.Cost, new { @class = "form-control" })
                        }
                        @Html.ValidationMessageFor(m => m.Cost, "", new { @class = "error text-danger", id = "errValid-Cost" })
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-group">
                        <label class="form-label">Member<span class="required" style="color: #FF0000">*</span></label>
                        @Html.TextBoxFor(m => m.Member, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Member, "", new { @class = "error text-danger", id = "errValid-Member" })
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label class="form-label">Membership Number<span class="required" style="color: #FF0000">*</span></label>
                        @Html.TextBoxFor(m => m.MembershipNumber, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.MembershipNumber, "", new { @class = "error text-danger", id = "errValid-MembershipNumber" })
                    </div>
                </div>

                <div class="col-lg-12 d-flex mt-3 p-0">
                    <input type="button" class="btn btn-primary ml-auto mr-3" id="btnAddDetails" value="Save" />
                    <input type="button" class="btn btn-primary ml-auto mr-3" style="display:none;" id="btnUpdate" value="Save" />
                    <input type="button" class="btn btn-danger" id="btnCloseRejectTab2" value="Cancel" />
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal" id="success_DeleteRejectionTab2_Popup" style="display:none;">
    <div class="modal-dialog">
        <div class="modal-content p-3 text-center">
            <!-- Modal body -->
            <div class="modal-body" id="txtSuccessMeg">
                <h4 class="nk-modal-title"> Deleted Successfully!</h4>
            </div>

            <!-- Modal footer -->
            <div class="text-center" id="btnCloseDeleteRejection">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>

    </div>
</div>
<script>

     // $(document).ready(function () {
     //    $("#btnAddMedicalBenefit").click(function () {
     //        $("#success_RejectTab2_Popup").modal('show');
     //        $('.modal-backdrop').remove();
     //    }); 
        
     //    $("#btnCloseRejectTab2").click(function () {
     //       $("#success_RejectTab2_Popup").modal('hide');         
     //    });

     //    $('#success_RejectTab2_Popup').modal({backdrop: 'static', keyboard: false})
     // });

     


    // $(document).ready(function () {
    //     $('#getMedicalBenefitData').DataTable({
    //         "bInfo": true,
    //         "paging": true,
    //     });
    // });

       $(document).ready(function () {
        var columnIndex = "";
        var columnDirection = "";
        var entries = 10;
        getMedicalBenefitDatas();

           function getMedicalBenefitDatas() {
               var table = $('#getMedicalBenefitData').DataTable();
               if (table) {
                   table.destroy();
               }
               $('#getMedicalBenefitData').DataTable({
                   serverSide: true,
                    processing: true,
                    pageLength: entries, // Page length
                   ajax: {
                       url: "/Benefit/MedicalBenefitFilter",
                       type: "GET",
                       data: function (d) {
                        //SearchFilter
                        var medicalbenefitSearch = document.getElementById("getMedicalBenefitData_filter");
                        var inputSearch = medicalbenefitSearch.querySelector("input[type='search']");
                        var medicalbenefitfilter = inputSearch.value;
                        //PagingLength
                        var medicalbenefitdata = document.getElementById("getMedicalBenefitData_length");
                        var page = medicalbenefitdata.querySelector("select");
                        var medicalbenefitcount = page.value;

                        d.sSearch = medicalbenefitfilter;
                        d.iDisplayStart = d.iDisplayStart || 0;
                        d.iDisplayLength = d.iDisplayLength || medicalbenefitcount;
                        d.sEcho = d.start;
                        d.columnName = columnIndex;
                        d.columnDirection = columnDirection;

                       }
                   },
                   columns: [
                       {
                           data: 'employeeName',
                           render: function (data, type, row) {
                               if (row.isdeleted == true) {
                                   return "<a href='javascript: void (0)' id='viewEmployee' data-empid=" + row.empId + "><span class='badge badge-dim bg-danger'>" + row.employeeName + "</span></a>"
                               }
                               else {
                                   return "<a href='javascript:void(0)' id='viewEmployee' data-empid=" + row.empId + "><span class='badge badge-dim bg-primary'>" + row.employeeName + "</span></a>"
                               }

                           }
                       },
                       {
                           data: 'scheme',
                           render: function (data, type, row) {
                               return "<span class='font-weight-bold'> " + row.scheme + "</span>"

                           }
                       },
                       {
                           data: 'category',
                           render: function (data, type, row) {
                               return "<span class='font-weight-bold'> " + row.category + "</span>"

                           }
                       },
                       {
                           data: 'cost',
                           render: function (data, type, row) {
                               return "<span class='badge badge-dim bg-info'>" + row.cost + "</span>"

                           }
                       },
                       {
                           data: 'member',
                           render: function (data, type, row) {
                               return "<span>" + row.member + "</span>"

                           }
                       },
                       {
                           data: 'membershipNumber',
                           render: function (data, type, row) {
                               return "<span>" + row.membershipNumber + "</span>"

                           }
                       },
                       {
                           data: 'null',
                           "orderable": false,
                           render: function (data, type, row) {
                               return "<div class='nk-tb-col nk-tb-col-tools py-0 border-0'><ul class='nk-tb-actions gx-1 my-n1'><li class='me-n1'><div class='dropdown'><a href='#' class='dropdown-toggle btn btn-icon btn-trigger' data-bs-toggle='dropdown'><em class='icon ni ni-more-h'></em></a><div class='dropdown-menu dropdown-menu-end'><ul class='link-list-opt no-bdr'><li><a href='javascript:void(0)' class='EditBtn' data-id='" + row.medicalBenefitId + "'data-empid='" + row.empId + "' data-benefit='" + row.benefitTypeId + "' data-scheme='" + row.scheme + "' data-category='" + row.category + "' data-cost='" + row.cost + "' data-member='" + row.member + "' data-membership='" + row.membershipNumber + "' data-type='" + row.benefitTypeId + "'><em class='icon ni ni-edit'></em><span>Edit</span></a></li><li><a href='javascript:void(0)' id='btnDelete' data-id=" + row.medicalBenefitId + "><em class='icon ni ni-delete'></em><span>Delete</span></a></li><li><a href='javascript:void(0)' class='btnView' data-id=" + row.medicalBenefitId + "><em class='icon ni ni-eye'></em><span>View</span></a></li></ul></div></div></li></ul></div>"

                           }
                       },
                   ],
                   "createdRow": function (row, data) {
                       // Add custom class to the row
                       $(row).addClass('nk-tb-item');
                       // Add custom classes to each cell in the row if necessary
                       $(row).find('td').addClass('nk-tb-col tb-col');
                   }
               });
               $('[data-bs-toggle="tooltip"]').tooltip();
           }

       $(document).on('click', '.sorting, .sorting_asc, .sorting_desc', function (e) {
            var target = e.target;
            var parent = target.parentNode;
            var index = [].indexOf.call(parent.children, target);

            if ($(this).hasClass('sorting_asc')) {
                columnDirection = 'desc';
            }
            else {
                columnDirection = 'asc'; // Assuming default sorting direction is descending
            }

            columnIndex = $(this).data('id');
        });


    $(document).ready(function () {
        $('.nav-tabs li').removeClass('active');
        $("#tabItem2").addClass('active');

        //-------------------------------------------------------------------------------------------------------------------------------------------------------

        $("#EmpId").select2({
            dropdownParent: $("#success_RejectTab2_Popup")
        });

        $(document).on('click', '.btnView', function () {
            var MedicalBenefitId = $(this).data('id');
            PageUtil.goToContent("/Benefit/ViewEmployeeMedicalBenefits?MedicalBenefitId=" + MedicalBenefitId);
        });

    });
     $(document).on('click', '.EditBtn', function () {
        
            $("#success_RejectTab2_Popup").show();
            $("#errValid-EmployeeName").text("");
            $("#errValid-Scheme").text("");
            $("#errValid-Category").text("");
            $("#errValid-Cost").text("");
            $("#errValid-Member").text("");
            $("#errValid-MembershipNumber").text("");
            $('#EmpId').select2('val', '');
            var id = $(this).data("id")
            var empId = $(this).data("empid")
            $('#EmpId').val(empId).change();
            var scheme = $(this).data("scheme")
            var category = $(this).data("category")
            var cost = $(this).data("cost")
            var member = $(this).data("member")
            var membershipnumber = $(this).data("membership")
            var type = $(this).data("type")

            var tr = $(this).closest('tr');
            var FirstCol = tr.find('td:eq(0)').text().trim();
            var SecondCol = tr.find('td:eq(1)').text().trim();
            $('#MedicalBenefitId').val(id);
            $("#EmpId option[value=" + empId + "]").attr('selected', 'selected').trigger("change");
            $('#Scheme').val(scheme);
            $('#Category').val(category);
            $('#Cost').val(cost);
            $('#Member').val(member);
            $('#MembershipNumber').val(membershipnumber);
            $('#BenefitTypeId').val(type);

            $("#btnUpdate").show();
            $("#btnback").show();
            $("#btnAddDetails").hide();

     });

     // Nice scroll

    $("#EmpId").select2().on("select2:open", function () {
        $('.select2-results__options').niceScroll({
            cursorcolor: "#4e5e7a",
            cursorwidth: "5px",
            autohidemode: false,
            cursorborder: "1px solid #4e5e7a",
            horizrailenabled: false,
        });
    });

    //Change Summary

    $("#EmpId").change(function () {
        $("#errValid-EmployeeName").text("");
        if ($("#EmpId :selected").val() == "") {
            $("#errValid-EmployeeName").text("Employee Name field is required");
        }
    });


    //KeyUp Summary

    $("#Scheme").keyup(function () {
        $("#errValid-Scheme").text("");
        if ($("#Scheme").val() == "") {
            $("#errValid-Scheme").text("Scheme field is required");
        }
    });

    $("#Category").keyup(function () {
        $("#errValid-Category").text("");
        if ($("#Category").val() == "") {
            $("#errValid-Category").text("Category field is required");
        }
    });

    $("#Cost").keyup(function () {
        $("#errValid-Cost").text("");
        if ($("#Cost").val() == "") {
            $("#errValid-Cost").text("Cost field is required");
        }
    });

    $("#Member").keyup(function () {
        $("#errValid-Member").text("");
        if ($("#Member").val() == "") {
            $("#errValid-Member").text("Member field is required");
        }
    });

    $("#MembershipNumber").keyup(function () {
        $("#errValid-MembershipNumber").text("");
        if ($("#MembershipNumber").val() == "") {
            $("#errValid-MembershipNumber").text("Membership Number field is required");
        }
    });

    $("#BenefitTypeId").change(function () {
        $("#errValid-BenefitTypeId").text("");
        if ($("#BenefitTypeId:selected").val() == "") {
            $("#errValid-BenefitTypeId").text("Type field is required");
        }
    });


    $(document).on('click', '#viewEmployee', function () {
        var empId = $(this).data('empid');
        window.location.href = "/Employees/ViewEmployee?empId=" + empId;
    });

    $('#btnBack').click(function () {
        var urlToRedirect = '@Url.Action("Benefit", "Benefit")';
        window.location.href = urlToRedirect;
    });

    $("#Cost").on("input", function (evt) {
        var self = $(this);
        self.val(self.val().replace(/\D/g, ""));
        if ((evt.which < 48 || evt.which > 57)) {
            evt.preventDefault();
        }
    });

    //-------------------------------------------------------------------------------------------------------------------------------------------------------

    // Update Medical Benefit

    $("#btnUpdate").click(function () {
        var isValid = true;
        var formData = new FormData();
        if ($("#EmpId").val() == "") {
            $("#errValid-EmployeeName").text("Employee Name field is required");
            isValid = false;
        }

        if ($("#Scheme").val() == "") {
            $("#errValid-Scheme").text("Scheme field is required");
            isValid = false;
        }

        if ($("#Category").val() == "") {
            $("#errValid-Category").text("Category field is required");
            isValid = false;
        }

        if ($("#Cost").val() == "") {
            $("#errValid-Cost").text("Cost field is required");
            isValid = false;
        }

        if ($("#Member").val() == "") {
            $("#errValid-Member").text("Member field is required");
            isValid = false;
        }

        if ($("#MembershipNumber").val() == "") {
            $("#errValid-MembershipNumber").text("Membership Number field is required");
            isValid = false;
        }

        if ($("#BenefitTypeId option:selected").val() == "") {
            $("#errValid-BenefitTypeId").text("Type field is required");
            isValid = false;
        }

        var medicalBenefitId = $("#MedicalBenefitId").val();
        var empId = $("#EmpId").val();
        var scheme = $("#Scheme").val();
        var category = $("#Category").val();
        var cost = $("#Cost").val();
        var member = $("#Member").val();
        var membershipNumber = $("#MembershipNumber").val();
        var benefitTypeId = $("#BenefitTypeId").val();

        formData.append("MedicalBenefitId", medicalBenefitId);
        formData.append("EmpId", empId);
        formData.append("Scheme", scheme);
        formData.append("Category", category);
        formData.append("Cost", cost);
        formData.append("Member", member);
        formData.append("MembershipNumber", membershipNumber);
        formData.append("BenefitTypeId", benefitTypeId);


        if (isValid) {

            var url = "/Benefit/AddMedicalBenefits";
            $.ajax({
                type: "POST",
                url: url,
                data: formData,
                contentType: false,
                processData: false,
                beforeSend: function () {
                    $('.loader').removeClass('d-none');
                },
                success: (Result) => {

                    $('#success_RejectTab2_Popup').hide();
                    $('#medicalBenefits').html('');
                        Swal.fire({
        title: 'Updated Successfully',
        text: "",
        icon: 'success',
        allowOutsideClick: false
    }).then((result) => {
        if (result.isConfirmed) {
    @* $.each(Result.employeeMedicalBenefits, function (key, value) {
                                var tablehtml = "<tr class ='nk-tb-item'><td class='nk-tb-col tb-col'>";
                                if (value.employeeStatus == true) {
                                    tablehtml += "<a href='javascript:void(0)' id='viewEmployee' data-empid=" + value.empId + "><span class='badge badge-dim bg-danger'>" + value.employeeName + "</span></a>";
                                }
                                else {
                                    tablehtml += "<a href='javascript:void(0)' id='viewEmployee' data-empid=" + value.empId + "><span class='badge badge-dim bg-primary'>" + value.employeeName + "</span></a>";
                                }
                                tablehtml += "</td><td class='nk-tb-col tb-col'><span class='font-weight-bold'>" + value.scheme + "</span></td><td class='nk-tb-col tb-col'>" + value.category + "</td><td class='nk-tb-col tb-col'><span class='badge badge-dim bg-info'>" + value.cost + "</span></td><td class='nk-tb-col tb-col'>" + value.member + "</td><td class='nk-tb-col tb-col'>" + value.membershipNumber + "</td><td class='nk-tb-col tb-col'><div class='nk-tb-col nk-tb-col-tools py-0 border-0'><ul class='nk-tb-actions gx-1 my-n1' ><li class='me-n1' ><div class='dropdown' ><a href='#' class= 'dropdown-toggle btn btn-icon btn-trigger' data-bs-toggle='dropdown' > <em class='icon ni ni-more-h' > </em></a ><div class='dropdown-menu dropdown-menu-end' ><ul class='link-list-opt no-bdr' ><li><a href='javascript:void(0)' id = 'EditBtn' data-id=" + value.medicalBenefitId + " data-empid=" + value.empId + " data-benefit=" + value.benefitTypeId + " data-scheme=" + value.scheme + " data-category=" + value.category + " data-cost=" + value.cost + " data-member=" + value.member + " data-membership=" + value.membershipNumber + " data-type=" + value.benefitTypeId + "> <em class='icon ni ni-edit'> </em><span>Edit</span > </a></li ><li><a href='javascript:void(0)' id = 'btnDelete' data-id=" + value.medicalBenefitId + " > <em class='icon ni ni-delete' > </em><span>Delete</span > </a></li><li><a href='javascript:void(0)' class='btnView' data-id=" + value.medicalBenefitId + "><em class='icon ni ni-eye'></em><span>View</span></a></li></ul></div></div></li></ul></div></td></tr>";
                                $('#displayMedicalBenefits').append(tablehtml);

                            }); *@
                            var tablehtml = "<table class='display employee-holiday-table mb-3 no-sorting' style='width:100%' data-auto-responsive='false' id='getMedicalBenefitData'> <thead> <tr class='nk-tb-item table-header'> <th class='nk-tb-col'><span class='sub-text'>Employee Name</span></th> <th class='nk-tb-col tb-col'><span class='sub-text'>Scheme</span></th> <th class='nk-tb-col tb-col'><span class='sub-text'>Category</span></th> <th class='nk-tb-col tb-col'><span class='sub-text'>Cost</span></th> <th class='nk-tb-col tb-col'><span class='sub-text'>Member</span></th> <th class='nk-tb-col tb-col'><span class='sub-text'>Membership Number</span></th> <th class='nk-tb-col tb-col'><span class='sub-text'>Action</span></th> </tr> </thead> <tbody id='displayMedicalBenefits'>";

                            var datas = Result.employeeMedicalBenefits.map(function (value) {
    @*  $.each(Result.employeeMedicalBenefits, function (key, value) { *@
                                tablehtml += "<tr class ='nk-tb-item'><td class='nk-tb-col tb-col'>";
                                if (value.employeeStatus == true) {
                                    tablehtml += "<a href='javascript:void(0)' id='viewEmployee' data-empid=" + value.empId + "><span class='badge badge-dim bg-danger'>" + value.employeeName + "</span></a>";
                                }
                                else {
                                    tablehtml += "<a href='javascript:void(0)' id='viewEmployee' data-empid=" + value.empId + "><span class='badge badge-dim bg-primary'>" + value.employeeName + "</span></a>";
                                }
                               tablehtml += "</td><td class='nk-tb-col tb-col'><span class='font-weight-bold'>" + value.scheme + "</span></td><td class='nk-tb-col tb-col'>" + value.category + "</td><td class='nk-tb-col tb-col'><span class='badge badge-dim bg-info'>" + value.cost + "</span></td><td class='nk-tb-col tb-col'>" + value.member + "</td><td class='nk-tb-col tb-col'>" + value.membershipNumber + "</td><td class='nk-tb-col tb-col'><div class='nk-tb-col nk-tb-col-tools py-0 border-0'><ul class='nk-tb-actions gx-1 my-n1' ><li class='me-n1'><div class='dropdown'><a href='#' class= 'dropdown-toggle btn btn-icon btn-trigger' data-bs-toggle='dropdown'><em class='icon ni ni-more-h' ></em></a><div class='dropdown-menu dropdown-menu-end'><ul class='link-list-opt no-bdr'><li><a href='javascript:void(0)' class='EditBtn' data-id= '" + value.medicalBenefitId + "' data-empid= '"+ value.empId + "' data-benefit= '" + value.benefitTypeId + "' data-scheme= '" + value.scheme + "' data-category= '" + value.category + "' data-cost= '" + value.cost + "' data-member= '" + value.member + "' data-membership= '" + value.membershipNumber + "' data-type= '" + value.benefitTypeId + "' ><em class='icon ni ni-edit'></em><span>Edit</span></a></li><li><a href='javascript:void(0)' id ='btnDelete' data-id= '" + value.medicalBenefitId + "' ><em class='icon ni ni-delete'></em><span>Delete</span></a></li><li><a href='javascript:void(0)' class='btnView' data-id= '" + value.medicalBenefitId + "' ><em class='icon ni ni-eye'></em><span>View</span></a></li></ul></div></div></li></ul></div></td></tr>";
                            });
                            tablehtml += "</tbody></table></div></div>";
                                $('#medicalBenefits').append(tablehtml);
                            $('#getMedicalBenefitData').DataTable({
                                "bInfo": true,
                                "paging": true,
                                "language": {
                                          "infoFiltered": "",
                                        },
                            });
                            //getMedicalBenefitDatas();
                 };
    });

                },
                complete: function () {
                    $('.loader').addClass('d-none');
                }
            });
            $("#MedicalBenefitId").val('');
            $('#EmpId').val('').change();
            $("#errValid-EmployeeName").text("");
            $('#Scheme').val('');
            $("#Category").val('');
            $("#Cost").val('');
            $("#Member").val('');
            $("#MembershipNumber").val('');
        }
        else {
            return false;
        }

    });

    //Create Medical Benefit

    $('#btnAddMedicalBenefit').click(function () {
        $("#MedicalBenefitId").val('')
        $("#errValid-EmployeeName").text("");
        $('#EmpId').val('').change();
        $('#BenefitTypeId').val('');
        $("#errValid-EmployeeName").text("");
        $("#errValid-ReleavingType").text("");
        $('#Scheme').val('');
        $("#Category").val('');
        $("#Cost").val('');
        $("#Member").val('');
        $("#MembershipNumber").val('');
        $("#errValid-EmployeeName").text("");
        $("#errValid-Scheme").text("");
        $("#errValid-Category").text("");
        $("#errValid-Cost").text("");
        $("#errValid-Member").text("");
        $("#errValid-MembershipNumber").text("");
        $("#success_RejectTab2_Popup").show();
        $("#btnUpdate").hide();
        $("#btnAddDetails").show();
        $('#BenefitTypeId').val(@Model.BenefitTypeId);

        var employeename = $(this).data("empname")
        $("#employeeName").text(employeename);
        var id = $(this).data("id")
        $('#btnAddDetails').click(function () {

            var isValid = true;

            if ($("#EmpId").val() == "") {
                $("#errValid-EmployeeName").text("Employee Name field is required");
                isValid = false;
            }

            if ($("#Scheme").val() == "") {
                $("#errValid-Scheme").text("Scheme field is required");
                isValid = false;
            }

            if ($("#Category").val() == "") {
                $("#errValid-Category").text("Category field is required");
                isValid = false;
            }

            if ($("#Cost").val() == "") {
                $("#errValid-Cost").text("Cost field is required");
                isValid = false;
            }

            if ($("#Member").val() == "") {
                $("#errValid-Member").text("Member field is required");
                isValid = false;
            }

            if ($("#MembershipNumber").val() == "") {
                $("#errValid-MembershipNumber").text("Membership Number field is required");
                isValid = false;
            }

            if ($("#BenefitTypeId option:selected").val() == "") {
                $("#errValid-BenefitTypeId").text("Type field is required");
                isValid = false;
            }

            var empId = $("#EmpId").val();
            var scheme = $("#Scheme").val();
            var category = $("#Category").val();
            var cost = $("#Cost").val();
            var member = $("#Member").val();
            var membershipNumber = $("#MembershipNumber").val();
            var benefitTypeId = $("#BenefitTypeId").val();

            var medicalBenifit = {
                EmpId: empId,
                Scheme: scheme,
                Category: category,
                Cost: cost,
                Member: member,
                MembershipNumber: membershipNumber,
                BenefitTypeId: benefitTypeId
            };
            if (isValid) {
                $.ajax({
                    type: "POST",
                    url: "/Benefit/AddMedicalBenefits",
                    data: medicalBenifit,
                    beforeSend: function () {
                        $('.loader').removeClass('d-none');
                    },
                    success: (Result) => {
                        if (Result.employeeMedicalBenefits.length == 0) {
                            $('#success_RejectTab2_Popup').hide();
                            $('#displayMedicalBenefits').html('');
                            $('#displayMedicalBenefits').append("<tr><td class='dataTables_empty' style = 'text-align:center;' colspan = '3' > No data available </td></tr>");
                        }
                        else {
                            $('#success_RejectTab2_Popup').hide();
                            $('#displayMedicalBenefits').html('');
                            $('#medicalBenefits').html('');
                                Swal.fire({
        title: 'Added Successfully',
        text: "",
        icon: 'success',
        allowOutsideClick: false
    }).then((result) => {
          if (result.isConfirmed) {
                                    var tablehtml = "<table class='display employee-holiday-table mb-3 no-sorting' style='width:100%' data-auto-responsive='false' id='getMedicalBenefitData'> <thead> <tr class='nk-tb-item table-header'> <th class='nk-tb-col'><span class='sub-text'>Employee Name</span></th> <th class='nk-tb-col tb-col'><span class='sub-text'>Scheme</span></th> <th class='nk-tb-col tb-col'><span class='sub-text'>Category</span></th> <th class='nk-tb-col tb-col'><span class='sub-text'>Cost</span></th> <th class='nk-tb-col tb-col'><span class='sub-text'>Member</span></th> <th class='nk-tb-col tb-col'><span class='sub-text'>Membership Number</span></th> <th class='nk-tb-col tb-col'><span class='sub-text'>Action</span></th> </tr> </thead> <tbody id='displayMedicalBenefits'>";
    @*  $.each(Result.employeeMedicalBenefits, function (key, value) { *@
                                        var datas = Result.employeeMedicalBenefits.map(function (value) {
                                        tablehtml += "<tr class ='nk-tb-item'><td class='nk-tb-col tb-col'>";
                                        if (value.employeeStatus == true) {
                                            tablehtml += "<a href='javascript:void(0)' id='viewEmployee' data-empid=" + value.empId + "><span class='badge badge-dim bg-danger'>" + value.employeeName + "</span></a>";
                                        }
                                        else {
                                            tablehtml += "<a href='javascript:void(0)' id='viewEmployee' data-empid=" + value.empId + "><span class='badge badge-dim bg-primary'>" + value.employeeName + "</span></a>";
                                        }
                                         tablehtml += "</td><td class='nk-tb-col tb-col'><span class='font-weight-bold'>" + value.scheme + "</span></td><td class='nk-tb-col tb-col'>" + value.category + "</td><td class='nk-tb-col tb-col'><span class='badge badge-dim bg-info'>" + value.cost + "</span></td><td class='nk-tb-col tb-col'>" + value.member + "</td><td class='nk-tb-col tb-col'>" + value.membershipNumber + "</td><td class='nk-tb-col tb-col'><div class='nk-tb-col nk-tb-col-tools py-0 border-0'><ul class='nk-tb-actions gx-1 my-n1' ><li class='me-n1'><div class='dropdown'><a href='#' class= 'dropdown-toggle btn btn-icon btn-trigger' data-bs-toggle='dropdown'><em class='icon ni ni-more-h' ></em></a><div class='dropdown-menu dropdown-menu-end'><ul class='link-list-opt no-bdr'><li><a href='javascript:void(0)' class='EditBtn' data-id='" + value.medicalBenefitId + "' data-empid= '" + value.empId + "' data-benefit= '" + value.benefitTypeId + "' data-scheme= '" + value.scheme + "' data-category= '" + value.category + "' data-cost= '" + value.cost + "' data-member= '" + value.member + "' data-membership= '" + value.membershipNumber + "' data-type= '" + value.benefitTypeId + "' ><em class='icon ni ni-edit'></em><span>Edit</span></a></li><li><a href='javascript:void(0)' id ='btnDelete' data-id=" + value.medicalBenefitId + "><em class='icon ni ni-delete'></em><span>Delete</span></a></li><li><a href='javascript:void(0)' class='btnView' data-id=" + value.medicalBenefitId + "><em class='icon ni ni-eye'></em><span>View</span></a></li></ul></div></div></li></ul></div></td></tr>";
                                    });
                                    tablehtml += "</tbody></table></div></div>";
                                     $('#medicalBenefits').append(tablehtml);
                                $('#getMedicalBenefitData').DataTable({
                                "bInfo": true,
                                "paging": true,
                                "language": {
                                          "infoFiltered": "",
                                        },
                                   });
                                     //getMedicalBenefitDatas();
                                };
    });
                        }
                        $('.loader').addClass('d-none');
                    },
                    error: (Result) => {
                        $('.loader').addClass('d-none');
                    }

                });
                 $('#EmpId').val('').change();
                $("#errValid-EmployeeName").text("");
                // $('#Scheme').val('');
                // $("#Category").val('');
                // $("#Cost").val('');
                // $("#Member").val('');
                // $("#MembershipNumber").val('');
            }
            else {
                return false;
            }
        });
    });

    //Delete Medical Benefit

    $(document).on('click', '#btnDelete', function () {
        Swal.fire({
            title: 'Are you sure want to delete?',
            //text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#1ee0ac',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes',
            cancelButtonText: 'No',
            allowOutsideClick: false
        }).then((result) => {
            if (result.isConfirmed) {
                var id = $(this).data("id")
                var medicalBenefit = {
                    MedicalBenefitId: id,
                };

                $.ajax({
                    type: "POST",
                    url: "/Benefit/DeleteMedicalBenefit",
                    data: medicalBenefit,
                    beforeSend: function () {
                        $('.loader').removeClass('d-none');
                    },
                    success: (Result) => {
                        if (Result.employeeMedicalBenefits.length == 0) {
                            $('#success_RejectTab2_Popup').hide();
                            $("#success_DeleteRejectionTab2_Popup").show();
                            $('#displayMedicalBenefits').html('');
                            $('#displayMedicalBenefits').append("<tr><td class='dataTables_empty' style = 'text-align:center;' colspan = '7' > No data available </td></tr>");
                        }
                        else {
                            $('#success_RejectTab2_Popup').hide();
                            $("#success_DeleteRejectionTab2_Popup").show();
                            $('#medicalBenefits').html('');
    @*  $.each(Result.employeeMedicalBenefits, function (key, value) {
                                var tablehtml = "<tr class ='nk-tb-item'><td class='nk-tb-col tb-col'>";
                                if (value.employeeStatus == true) {
                                    tablehtml += "<a href='javascript:void(0)' id='viewEmployee' data-empid=" + value.empId + "><span class='badge badge-dim bg-danger'>" + value.employeeName + "</span></a>";
                                }
                                else {
                                    tablehtml += "<a href='javascript:void(0)' id='viewEmployee' data-empid=" + value.empId + "><span class='badge badge-dim bg-primary'>" + value.employeeName + "</span></a>";
                                }
                                tablehtml += "</td><td class='nk-tb-col tb-col'><span class='font-weight-bold'>" + value.scheme + "</span></td><td class='nk-tb-col tb-col'>" + value.category + "</td><td class='nk-tb-col tb-col'><span class='badge badge-dim bg-info'>" + value.cost + "</span></td><td class='nk-tb-col tb-col'>" + value.member + "</td><td class='nk-tb-col tb-col'>" + value.membershipNumber + "</td><td class='nk-tb-col tb-col'><div class='nk-tb-col nk-tb-col-tools py-0 border-0'><ul class='nk-tb-actions gx-1 my-n1' ><li class='me-n1' ><div class='dropdown' ><a href='#' class= 'dropdown-toggle btn btn-icon btn-trigger' data-bs-toggle='dropdown' > <em class='icon ni ni-more-h' > </em></a ><div class='dropdown-menu dropdown-menu-end' ><ul class='link-list-opt no-bdr' ><li><a href='javascript:void(0)' id = 'EditBtn' data-id=" + value.medicalBenefitId + " data-empid=" + value.empId + " data-benefit=" + value.benefitTypeId + " data-scheme=" + value.scheme + " data-category=" + value.category + " data-cost=" + value.cost + " data-member=" + value.member + " data-membership=" + value.membershipNumber + " data-type=" + value.benefitTypeId + "> <em class='icon ni ni-edit'> </em><span>Edit</span > </a></li ><li><a href='javascript:void(0)' id = 'btnDelete' data-id=" + value.medicalBenefitId + " > <em class='icon ni ni-delete' > </em><span>Delete</span > </a></li><li><a href='javascript:void(0)' class='btnView' data-id=" + value.medicalBenefitId + "><em class='icon ni ni-eye'></em><span>View</span></a></li></ul></div></div></li></ul></div></td></tr>";
                                $('#displayMedicalBenefits').append(tablehtml);
                            }); *@
                            var tablehtml = "<table class='display employee-holiday-table mb-3 no-sorting' style='width:100%' data-auto-responsive='false' id='getMedicalBenefitData'> <thead> <tr class='nk-tb-item table-header'> <th class='nk-tb-col'><span class='sub-text'>Employee Name</span></th> <th class='nk-tb-col tb-col'><span class='sub-text'>Scheme</span></th> <th class='nk-tb-col tb-col'><span class='sub-text'>Category</span></th> <th class='nk-tb-col tb-col'><span class='sub-text'>Cost</span></th> <th class='nk-tb-col tb-col'><span class='sub-text'>Member</span></th> <th class='nk-tb-col tb-col'><span class='sub-text'>Membership Number</span></th> <th class='nk-tb-col tb-col'><span class='sub-text'>Action</span></th> </tr> </thead> <tbody id='displayMedicalBenefits'>";

                                 var datas = Result.employeeMedicalBenefits.map(function (value) {
    @*   $.each(Result.employeeMedicalBenefits, function (key, value) { *@
                                tablehtml += "<tr class ='nk-tb-item'><td class='nk-tb-col tb-col'>";
                                if (value.employeeStatus == true) {
                                    tablehtml += "<a href='javascript:void(0)' id='viewEmployee' data-empid=" + value.empId + "><span class='badge badge-dim bg-danger'>" + value.employeeName + "</span></a>";
                                }
                                else {
                                    tablehtml += "<a href='javascript:void(0)' id='viewEmployee' data-empid=" + value.empId + "><span class='badge badge-dim bg-primary'>" + value.employeeName + "</span></a>";
                                }
                                 tablehtml += "</td><td class='nk-tb-col tb-col'><span class='font-weight-bold'>" + value.scheme + "</span></td><td class='nk-tb-col tb-col'>" + value.category + "</td><td class='nk-tb-col tb-col'><span class='badge badge-dim bg-info'>" + value.cost + "</span></td><td class='nk-tb-col tb-col'>" + value.member + "</td><td class='nk-tb-col tb-col'>" + value.membershipNumber + "</td><td class='nk-tb-col tb-col'><div class='nk-tb-col nk-tb-col-tools py-0 border-0'><ul class='nk-tb-actions gx-1 my-n1' ><li class='me-n1'><div class='dropdown'><a href='#' class= 'dropdown-toggle btn btn-icon btn-trigger' data-bs-toggle='dropdown'><em class='icon ni ni-more-h' ></em></a><div class='dropdown-menu dropdown-menu-end'><ul class='link-list-opt no-bdr'><li><a href='javascript:void(0)' class='EditBtn' data-id=" + value.medicalBenefitId + " data-empid=" + value.empId + " data-benefit=" + value.benefitTypeId + " data-scheme=" + value.scheme + " data-category=" + value.category + " data-cost=" + value.cost + " data-member=" + value.member + " data-membership=" + value.membershipNumber + " data-type=" + value.benefitTypeId + "><em class='icon ni ni-edit'></em><span>Edit</span></a></li><li><a href='javascript:void(0)' id ='btnDelete' data-id=" + value.medicalBenefitId + "><em class='icon ni ni-delete'></em><span>Delete</span></a></li><li><a href='javascript:void(0)' class='btnView' data-id=" + value.medicalBenefitId + "><em class='icon ni ni-eye'></em><span>View</span></a></li></ul></div></div></li></ul></div></td></tr>";

                            });
                            tablehtml += "</tbody></table></div></div>";
                                $('#medicalBenefits').append(tablehtml);
                            $('#getMedicalBenefitData').DataTable({
                                "bInfo": true,
                                "paging": true,
                                "language": {
                                          "infoFiltered": "",
                                        },
                            });
                             //getMedicalBenefitDatas();
                        }
                        $('.loader').addClass('d-none');
                    },
                    error: (Result) => {
                        $('.loader').addClass('d-none');
                    }

                });
            }
        });
    });

    $("#btnCloseRejectTab2").click(function () {
        $('#success_RejectTab2_Popup').hide();
        $("#errValid-EmployeeName").text("");
        $("#errValid-Scheme").text("");
        $("#errValid-Category").text("");
        $("#errValid-Cost").text("");
        $("#errValid-Member").text("");
        $("#errValid-MembershipNumber").text("");
    });

    $("#btnCloseDeleteRejection").click(function () {
        $("#success_DeleteRejectionTab2_Popup").hide();
        $("#errValid-EmployeeName").text("");
        $("#errValid-Scheme").text("");
        $("#errValid-Category").text("");
        $("#errValid-Cost").text("");
        $("#errValid-Member").text("");
        $("#errValid-MembershipNumber").text("");
    });
     });
</script>

