@using EmployeeInformations.Model.TeamsViewModel;
@model Teams
@{
    ViewBag.Title = "TeamMeeting";
    Layout = "_Layout";                                             
}

<div class="nk-block-head nk-block-head-sm">
    <div class="nk-block-between">
        <div class="nk-block-head-content">
            <h3 class="nk-block-title page-title">Create Teams Meeting</h3>
        </div><!-- .nk-block-head-content -->
    </div><!-- .nk-block-between -->
</div>
<div class="card card-bordered card-preview">
    <div class="card-inner">
        <form autocomplete="off">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(m => m.Code)

            <div class="row">

                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label class="form-label">Meeting Name<span class="required" style="color: #FF0000">*</span></label>
                        @Html.TextBoxFor(m => m.MeetingName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.MeetingName, "", new { @class = "error text-danger", id = "errValid-MeetingName" })
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label class="form-label">Start Date<span class="required" style="color: #FF0000">*</span></label>
                        <div id="datepicker30" class="input-group date" data-date-format="yyyy/mm/dd">
                            @if (Model.Start == DateTime.MinValue)
                            {
                                <input type="text" class="form-control" id="Start" value="" placeholder="" />
                            }
                            else
                            {
                                @Html.TextBoxFor(m => m.Start, "{0:dd/mm/yyyy}", new { @class = "form-control date-picker", @value = Model.Start.ToString("dd/mm/yyyy") })
                            }

                            <span class="input-group-addon">
                                <i class="icon ti-calendar"></i>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(m => m.Start, "", new { @class = "error text-danger", id = "errValid-Startdate" })
                    </div>
                </div>
                @if (Model.StartTime != DateTime.MinValue && Model.EndTime != DateTime.MinValue)
                {
                    <div class="col-lg-4 col-md-6">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label class="form-label">Start Time<span class="required" style="color: #FF0000">*</span></label>
                                    <div class="input-group" id="drp_FromTime">
                                        <input type="text" class="form-control" id="StartTime" placeholder="" value="@Model.StartTime">

                                    </div>

                                    <span class="error text-danger" id="errValid-StartTime"></span>
                                </div>
                            </div>


                            <div class="col">
                                <div class="form-group">
                                    <label class="form-label">End Time<span class="required" style="color: #FF0000">*</span></label>
                                    <div class="input-group" id="drp_ToTime">
                                        <input type="text" class="form-control" id="EndTime" placeholder="" value="@Model.EndTime">

                                    </div>

                                    <span class="error text-danger" id="errValid-EndTime"></span>
                                    <span id="errVerify-timesheetEndTime" class="error text-danger" style="display:none;"> Please select <b>End Time</b> should not be less than <b>Start Time</b> </span>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-lg-4 col-md-6">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label class="form-label">Start Time<span class="required" style="color: #FF0000">*</span></label>
                                    <div class="input-group" id="drp_FromTime">
                                        <input type="text" class="form-control" id="StartTime" placeholder="" value="">
                                    </div>

                                    <span class="error text-danger" id="errValid-StartTime"></span>
                                </div>
                            </div>


                            <div class="col">
                                <div class="form-group">
                                    <label class="form-label">End Time<span class="required" style="color: #FF0000">*</span></label>
                                    <div class="input-group" id="drp_ToTime">
                                        <input type="text" class="form-control" id="EndTime" placeholder="" value="">
                                    </div>

                                    <span class="error text-danger" id="errValid-EndTime"></span>
                                    <span id="errVerify-MeetingEndTime" class="error text-danger" style="display:none;"> Please select <b>End Time</b> should not be less than <b>Start Time</b> </span>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label class="form-label">Emails of attendees separated with ';'<span class="required" style="color: #FF0000">*</span></label>
                        @Html.TextBoxFor(m => m.AttendeeEmail, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.AttendeeEmail, "", new { @class = "error text-danger", id = "errValid-AttendeeEmail" })
                    </div>
                </div>

            </div>


            <div class="col-lg-12 d-flex mt-3 p-0">
                <input type="button" class="btn btn-secondary ml-auto mr-3" id="btnBack" value="Back" />

                <input type="button" class="btn btn-primary" id="btnCreateTeams" value="Save" />


            </div>

        </form>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {

        var date = new Date();
        $("#datepicker30").datepicker({
            autoclose: true,
            todayHighlight: true,
            startDate: date
        });


        $('#StartTime').timepicker({
            dynamic: false,
            dropdown: true,
            scrollbar: true,
            change: function (time) {
                $("#errValid-StartTime").text("");
                if ($("#StartTime").val() == "") {
                    $("#errValid-StartTime").text("Start Time field is required");
                }
            }
        });

        $('#EndTime').timepicker({
            dynamic: false,
            dropdown: true,
            scrollbar: true,
            change: function (time) {
                $("#errValid-EndTime").text("");
                if ($("#EndTime").val() == "") {
                    $("#errValid-EndTime").text("End Time field is required");
                }
            }
        });

    });


    $("#btnBack").click(function () {
        var urlToRedirect = '@Url.Action("Teams", "Teams")';
        window.location.href = urlToRedirect;
    });


    $("#AttendeeEmail").keyup(function () {
        $("#errValid-AttendeeEmail").text("");
        if ($("#AttendeeEmail").val() == "") {
            $("#errValid-AttendeeEmail").text("AttendeeEmail field is required");
        }
    });


    $("#MeetingName").keyup(function () {
        $("#errValid-MeetingName").text("");
        if ($("#MeetingName").val() == "") {
            $("#errValid-MeetingName").text("Meeting Name field is required");
        }
    });


    //Change Summary

    $("#Start").change(function () {
        $("#errValid-Startdate").text("");
        if ($("#Start").val() == "" || $("#Start").val() == "0") {
            $("#errValid-Startdate").text("Start Date field is required");
        }
        else {
            $("#errValid-Startdate").text("");
        }
    });
    $("#StartTime").val('');
    $("#EndTime").val('');
    $("#Start").val('');

    $("#btnCreateTeams").click(function () {
        var formData = new FormData();
        var isValid = true;

        $("#errValid-MeetingName").text("");
        $("#errValid-AttendeeEmail").text("");
        $("#errValid-StartTime").text("");
        $("#errValid-EndTime").text("");
        $("#errVerify-MeetingEndTime").hide();
        $("#errValid-Startdate").text();

        if ($("#MeetingName").val() == "") {
            $("#errValid-MeetingName").text("Meeting Name field is required");
            isValid = false;
        }

        if ($("#AttendeeEmail").val() == "") {
            $("#errValid-AttendeeEmail").text("AttendeeEmail field is required");
            isValid = false;
        }

        if ($("#EndTime").val() == "") {
            $("#errValid-EndTime").text("End Time field is required");
            isValid = false;
        }

        if ($("#StartTime").val() == "") {
            $("#errValid-StartTime").text("Start Time field is required");
            isValid = false;
        }

        if ($("#Start").val() == "") {
            $("#errValid-Startdate").text("Start Date field is required");
            isValid = false;
        }


        var meetingName = $("#MeetingName").val();
        var attendeeEmail = $("#AttendeeEmail").val();
        var begin = $("#Start").val();
        var code = $("#Code").val();
        var startTime = $("#StartTime").val();
        var endTime = $("#EndTime").val();

        formData.append("Code", code);
        formData.append("MeetingName", meetingName);
        formData.append("AttendeeEmail", attendeeEmail);
        formData.append("MeetingStartTime", startTime);
        formData.append("MeetingEndTime", endTime);
        formData.append("StrStartdate", begin);

        if (isValid) {
            var isTimeValid = getTimeValid(begin, startTime, endTime);
            var url = "/Teams/CreateTeamsMeetinges";
            if (isTimeValid) {
                $('.loader').removeClass('d-none');
                $.ajax({
                    type: "POST",
                    url: url,
                    data: formData,
                    contentType: false,
                    processData: false,
                    beforeSend: function () {
                        $('.loader').removeClass('d-none');
                    },
                    success: function (result) {
                        if (result > 0) {
                            Swal.fire({
                                title: 'Added Successfully',
                                text: "",
                                icon: 'success',
                                allowOutsideClick: false
                            }).then((resultValue) => {
                                var urlToRedirect = '@Url.Action("Teams", "Teams")';
                                window.location.href = urlToRedirect;
                            });
                        }
                        else {
                            Swal.fire({
                                title: 'Something error',
                                text: "",
                                icon: 'error',
                                allowOutsideClick: false
                            }).then((resultValue) => {
                                var urlToRedirect = '@Url.Action("Teams", "Teams")';
                                window.location.href = urlToRedirect;
                            });
                        }
                    },
                    complete: function () {
                        $('.loader').addClass('d-none');
                    }
                });
            } else {
                $('.loader').addClass('d-none');
                $("#errVerify-MeetingEndTime").show();
                return false;
            }
        }
        else {
            return false;
        }
    });



    // Time Validation

    function getTimeValid(startdate, startTime, endTime) {

        console.log("Start :" + startdate);
        var result = false;
        var fromDateTime = new Date(startdate + ' ' + startTime);
        var toDateTime = new Date(startdate + ' ' + endTime);

        console.log("fromDateTime :" + fromDateTime);
        console.log("toDateTime :" + toDateTime);
        if (fromDateTime < toDateTime) {
            result = true;
        }
        return result;
    }

</script>



