@using EmployeeInformations.Model.EmployeesViewModel;
@model LoginViewModel
@{
    ViewBag.Title = "Reset Password";
}


<!DOCTYPE html>
<html lang="zxx" class="js">

<head>
    <base href="../../../">
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="An application that an organization can use to manage HR related activities.">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="./images/favicon.ico">
    <!-- Page Title  -->
    <title>New Password</title>
    <!-- StyleSheets  -->
    <link rel="stylesheet" href="./assets/css/dashlite.css?ver=3.1.1">
    <link id="skin-default" rel="stylesheet" href="./assets/css/theme.css?ver=3.1.1">

    <!-- JavaScript -->
    <script src="./assets/js/bundle.js?ver=3.1.1"></script>
    <script src="./assets/js/scripts.js?ver=3.1.1"></script>
</head>

<div class="loader d-none">
    <div class="loader-inner-block d-flex h-100">
        <div class="m-auto">
            <svg version="1.1" id="L7" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
            <path fill="#9769ff" d="M31.6,3.5C5.9,13.6-6.6,42.7,3.5,68.4c10.1,25.7,39.2,38.3,64.9,28.1l-3.1-7.9c-21.3,8.4-45.4-2-53.8-23.3
  c-8.4-21.3,2-45.4,23.3-53.8L31.6,3.5z">
            <animateTransform attributeName="transform"
                              attributeType="XML"
                              type="rotate"
                              dur="2s"
                              from="0 50 50"
                              to="360 50 50"
                              repeatCount="indefinite" />
  </path>
            <path fill="#9769ff" d="M42.3,39.6c5.7-4.3,13.9-3.1,18.1,2.7c4.3,5.7,3.1,13.9-2.7,18.1l4.1,5.5c8.8-6.5,10.6-19,4.1-27.7
  c-6.5-8.8-19-10.6-27.7-4.1L42.3,39.6z">
            <animateTransform attributeName="transform"
                              attributeType="XML"
                              type="rotate"
                              dur="1s"
                              from="0 50 50"
                              to="-360 50 50"
                              repeatCount="indefinite" />
  </path>
            <path fill="#9769ff" d="M82,35.7C74.1,18,53.4,10.1,35.7,18S10.1,46.6,18,64.3l7.6-3.4c-6-13.5,0-29.3,13.5-35.3s29.3,0,35.3,13.5
  L82,35.7z">
            <animateTransform attributeName="transform"
                              attributeType="XML"
                              type="rotate"
                              dur="2s"
                              from="0 50 50"
                              to="360 50 50"
                              repeatCount="indefinite" />
  </path>
</svg>
        </div>
    </div>
</div>

<body class="nk-body bg-white npc-default pg-auth">
    <div class="nk-app-root">
        <div class="nk-main ">
            <div class="nk-wrap nk-wrap-nosidebar">
                <div class="nk-content ">
                    <div class="nk-block nk-block-middle nk-auth-body  wide-xs">
                        <div class="brand-logo pb-4 text-center">
                            <a href="/Dashboard/Home" class="logo-link">
                                @* <img class="logo-light logo-img logo-img-lg" src="./images/logo.png" srcset="./images/logo2x.png 2x" alt="logo">*@
                                <img class="logo-dark logo-img logo-img-lg" src="./images/logo.png" srcset="./images/logo.png" alt="logo-dark">
                            </a>
                        </div>
                        <div class="card">
                            <div class="card-inner card-inner-lg">
                                <div class="nk-block-head">
                                    <div class="nk-block-head-content">
                                        <h5 class="nk-block-title">Reset Password</h5>
                                        <div class="nk-block-des">
                                            <p>If you change your password, well, then you change your password.</p>
                                        </div>
                                    </div>
                                </div>
                                @Html.HiddenFor(m => m.OfficeEmail)
                                <div class="form-group">
                                    <div class="form-label-group">
                                        <label class="form-label" for="NewPassword">New Password</label>
                                    </div>
                                    <div class="form-control-wrap">
                                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "New Password" })
                                        @Html.ValidationMessageFor(m=>m.NewPassword ,"" , new { @class = "error text-danger",@id="errValid-NewPassword"})
                                        <span id="errVerify-NewPassword" style="display:none;" class="error text-danger"> Password Should Contain like (eg : XXy@323) </span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="form-label-group">
                                        <label class="form-label" for="ConfirmPassword">Confirm Password</label>
                                    </div>
                                    <div class="form-control-wrap">
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
                                        @Html.ValidationMessageFor(m=>m.ConfirmPassword ,"" , new { @class = "error text-danger",@id="errValid-ConfirmPassword"})
                                        <span id="errVerify-ConfirmPassword" style="display:none;" class="error text-danger"> Password Is Not Mathched! </span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <button class="btn btn-lg btn-primary btn-block" id="newPassword">Update New Password</button>
                                </div>

                                <div class="form-note-s2 text-center pt-4">
                                    <a href="Login/Login"><strong>Return to login</strong></a>
                                </div>

                            </div>


                        </div>
                    </div>
                    <div class="nk-footer nk-auth-footer-full">
                        <div class="container wide-lg">
                            <div class="row g-3">
                                <div class="col-lg-6">
                                    <div class="nk-block-content text-center text-lg-left">
                                        <p class="text-soft">&copy; @DateTime.Now.Year VpHospital. All Rights Reserved.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>

<div class="modal" id="successNewPasswordChange_Msg_Popup" style="display:none;">
    <div class="modal-dialog">
        <div class="modal-content p-3 text-center">

            <!-- Modal body -->
            <div class="modal-body" id="txtSuccessMeg">
                <h4 class="nk-modal-title"> Password Reset Successfuly!</h4>
            </div>

            <!-- Modal footer -->
            <div class="text-center" id="btnCloseNewPasswordChange">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>


<script>

    //Key Summary

    $("#NewPassword").keyup(function () {
        $("#errValid-NewPassword").text("");

        if ($("#NewPassword").val() == "") {
            $("#errVerify-NewPassword").hide();
            $("#errValid-NewPassword").text("New Password field is required");

        }

    });

    $("#ConfirmPassword").keyup(function () {
        $("#errValid-ConfirmPassword").text("");

        if ($("#ConfirmPassword").val() == "") {
            $("#errVerify-ConfirmPassword").hide();
            $("#errValid-ConfirmPassword").text("Confirm Password field is required");
        }

    });

    // Reset password

    $("#newPassword").click(function () {

        var formData = new FormData();

        $("#errValid-NewPassword").text("");
        $("#errValid-ConfirmPassword").text("");
        var isValid = true;
        $("#errVerify-NewPassword").hide();
        $("#errVerify-ConfirmPassword").hide();


        if ($("#NewPassword").val() == "") {
            $("#errValid-NewPassword").text("New Password field is required");
            isValid = false;
        }

        if ($("#ConfirmPassword").val() == "") {
            $("#errValid-ConfirmPassword").text("Confirm Password field is required");
            isValid = false;
        }

        var newPassword = $("#NewPassword").val();
        var confirmPassword = $("#ConfirmPassword").val();
        var officeEmail = $("#OfficeEmail").val();
        formData.append("NewPassword", newPassword);
        formData.append("ConfirmPassword", confirmPassword);
        formData.append("OfficeEmail", officeEmail);

        if (isValid) {

            var isNewPassword = checkPassword(newPassword);
            if (isNewPassword) {
                if (newPassword == confirmPassword) {

                    $.ajax({
                        type: "POST",
                        url: "/Login/NewPasswordChange",
                        contentType: false,
                        processData: false,
                        data: formData,
                        beforeSend: function () {
                            $('.loader').removeClass('d-none');
                        },
                        success: function (result) {

                            $("#successNewPasswordChange_Msg_Popup").css('display', 'none !important');
                            swal.fire({
                                        title: "Updated Successfully",
                                        text: "",
                                        icon: "success",
                                        allowOutsideClick: false  // This prevents closing on outside click
                                    }).then((resultValue) => {
                                         if (resultValue.isConfirmed) {
                                    var urlToRedirect = '@Url.Action("Login", "Login")';
                                    window.location.href = urlToRedirect;
                                };
                                    });
                        },
                        complete: function () {
                            $('.loader').addClass('d-none');
                        }
                    });
                }
                else {
                    $('.loader').addClass('d-none');
                    $("#errVerify-ConfirmPassword").show();
                    return false;
                }
            }
            else {
                $('.loader').addClass('d-none');
                $("#errVerify-NewPassword").show();
                return false;
            }
        }
        else {
            return false;
        }

    });
    //------------------------------------------------------------------------------------------------------------------------------

    // password Validation

    function checkPassword(newPassword) {
        var pattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[#$@@!%&*?])[A-Za-z\d#$@@!%&*?]{5,}$/;
        if (pattern.test(newPassword)) {
            return true;
        } else {
            return false;
        }
    }

</script>

