@using EmployeeInformations.Model.EmployeesViewModel
@using Microsoft.AspNetCore.Http;
@using EmployeeInformations.Common.Enums
@using EmployeeInformations.Business.IService
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject IEmployeeInformationService employeeInformationService
@model BankDetails
@{
    var roleId = Context.Session.GetInt32("RoleId");
    var loginEmpId = Context.Session.GetInt32("EmpId");

    var rolePrivileges = false;
    if (roleId >= 0)
    {
        var id = roleId.Value;
        int employeeModuleId = (int)EmployeesInformationsPages.SalaryModule;
        rolePrivileges = await employeeInformationService.ReadAndWritePermissionByRoleId(employeeModuleId, id);
    }
}

<form>
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="d-flex mb-1 title data-head">
        <h6>Bank Details</h6>
    </div>

    <div class="row p-3">
        @Html.HiddenFor(m => m.IsVerified)
        @Html.HiddenFor(m => m.BankId)
        @Html.HiddenFor(m => m.EmpId)
        @Html.HiddenFor(m => m.CompanyId)
        <input type="hidden" class="form-control" id="RoleId" value=@roleId>
        <div class="col-lg-4">
            <div class="form-group">
                <label class="form-label"> Account Holder Name<span class="required" style="color: #FF0000">*</span></label>
                @Html.TextBoxFor(m => m.AccountHolderName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.AccountHolderName, "", new { @class = "error text-danger", id = "errValid-AccountHolderName" })
            </div>
        </div>

        <div class="col-lg-4">
            <div class="form-group">
                <label class="form-label">Account Number<span class="required" style="color: #FF0000">*</span></label>
                @if (Model.AccountNumber == 0)
                {
                    <input type="text" id="AccountNumber" class="form-control" value="" />
                }
                else
                {
                    @Html.TextBoxFor(m => m.AccountNumber, new { @class = "form-control" })
                }
                @Html.ValidationMessageFor(m => m.AccountNumber, "", new { @class = "error text-danger", id = "errValid-AccountNumber" })
            </div>
        </div>

        <div class="col-lg-4">
            <div class="form-group">
                <label class="form-label">Bank Name<span class="required" style="color: #FF0000">*</span></label>
                @Html.TextBoxFor(m => m.BankName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.BankName, "", new { @class = "error text-danger", id = "errValid-BankName" })
            </div>
        </div>

        <div class="col-lg-4">
            <div class="form-group">
                <label class="form-label">IFSC Code<span class="required" style="color: #FF0000">*</span></label>
                @Html.TextBoxFor(m => m.IFSCCode, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.IFSCCode, "", new { @class = "error text-danger", id = "errValid-IFSCCode" })
            </div>
        </div>

        <div class="col-lg-4">
            <div class="form-group">
                <label class="form-label">Branch Name<span class="required" style="color: #FF0000">*</span></label>
                @Html.TextBoxFor(m => m.BranchName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.BranchName, "", new { @class = "error text-danger", id = "errValid-BranchName" })
            </div>
        </div>

        <div class="col-lg-12 d-flex mt-3">
            <input type="button" class="btn btn-secondary" id="btnBankDetailsBack" value="Back" />
            <input type="button" class="btn btn-primary ml-auto" id="btnAddBankDetails" value="Save" />
        </div>
        @if (Model.IsVerified == false && roleId == 1 || roleId == 2)
        {
            <div class="col-lg-12 d-flex mt-3" id="IsVerified">
                <button type="button" class="btn btn-success" id="btnBankDetailsVerified" value="Verfier">Verify</button>
            </div>
        }
    </div>

</form>

<div class="modal" id="success_CreateEmployeeAllDetails_Popup" style="display:none;">
    <div class="modal-dialog">
        <div class="modal-content p-3 text-center">

            <!-- Modal body -->
            <div class="modal-body" id="txtSuccessMeg">
                <h4 class="nk-modal-title"> Saved Successfully!</h4>
            </div>

            <!-- Modal footer -->
            <div class="text-center" id="btnCloseEmployeeAllDetails">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>


<div class="modal" id="success_CreateEmployeeIsVerified_Popup" style="display:none;">
    <div class="modal-dialog">
        <div class="modal-content p-3 text-center">

            <!-- Modal body -->
            <div class="modal-body" id="txtSuccessMeg">
                <h4 class="nk-modal-title"> Saved Successfully!</h4>
            </div>

            <!-- Modal footer -->
            <div class="text-center" id="btnCloseEmployeeAllDetails">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        $('.selectedwizard li').removeClass('current');
        $("#step7").addClass('current');
    });

    $("#btnBankDetailsBack").click(function () {               
            var empId = $("#EmpId").val();
        if ('@rolePrivileges' == 'True') {
            PageUtil.goTo("/Employees/GetAllSalaryByEmpId?empId=" + empId);
        }
        else {
            var empId = $("#EmpId").val();
            PageUtil.goTo("/Employees/Createexperience?empId=" + empId);
        }      
    });

    //-----------------------------------------------------------------------------------------------------------------------------------------------------

    // KeyUp summary

    $("#AccountHolderName").keyup(function () {
        $("#errValid-AccountHolderName").text(" ");
        if ($("#AccountHolderName").val() == "") {
            $("#errValid-AccountHolderName").text("Account Holder Name field is required");
        }
    });

    $("#AccountNumber").keyup(function () {
        $("#errValid-AccountNumber").text(" ");
        if ($("#AccountNumber").val() == "") {
            $("#errValid-AccountNumber").text("Account Holder Name field is required");
        }
    });

    $("#BankName").keyup(function () {
        $("#errValid-BankName").text(" ");
        if ($("#BankName").val() == "") {
            $("#errValid-BankName").text("Bank Name field is required");
        }
    });

    $("#IFSCCode").keyup(function () {
        $("#errValid-IFSCCode").text(" ");
        if ($("#IFSCCode").val() == "") {
            $("#errValid-IFSCCode").text("IFSC Code field is required");
        }
    });

    $("#BranchName").keyup(function () {
        $("#errValid-BranchName").text(" ");
        if ($("#BranchName").val() == "") {
            $("#errValid-BranchName").text("Branch Name field is required");
        }
    });

    $("#AccountNumber").on("input", function (evt) {
        var self = $(this);
        self.val(self.val().replace(/\D/g, ""));
        if ((evt.which < 48 || evt.which > 57)) {
            evt.preventDefault();
        }
    });

    //-----------------------------------------------------------------------------------------------------------------------------------------------------

    //Create Bank Details

    $('#btnAddBankDetails').click(function () {
        var isValid = true;
        $("#errValid-AccountHolderName").text(" ");
        $("#errValid-AccountNumber").text(" ");
        $("#errValid-BankName").text(" ");
        $("#errValid-IFSCCode").text(" ");
        $("#errValid-BranchName").text(" ");

        if ($("#AccountHolderName").val() == "") {
            $("#errValid-AccountHolderName").text("Account Holder Name field is required");
            isValid = false;
        }

        if ($("#AccountNumber").val() == "") {
            $("#errValid-AccountNumber").text("Account Number field is required");
            isValid = false;
        }

        if ($("#BankName").val() == "") {
            $("#errValid-BankName").text("Bank Name field is required");
            isValid = false;
        }
        if ($("#IFSCCode").val() == "") {
            $("#errValid-IFSCCode").text("IFSC Code field is required");
            isValid = false;
        }
        if ($("#BranchName").val() == "") {
            $("#errValid-BranchName").text("Branch Name field is required");
            isValid = false;
        }

        var empId = $("#EmpId").val();
        var bankId = $("#BankId").val();
        var accountHolderName = $("#AccountHolderName").val();
        var accountNumber = $("#AccountNumber").val();
        var bankName = $("#BankName").val();
        var iFSCCode = $("#IFSCCode").val();
        var branchName = $("#BranchName").val();

        var bankDetails = {
            EmpId: empId,
            BankId: bankId,
            AccountHolderName: accountHolderName,
            AccountNumber: accountNumber,
            BankName: bankName,
            IFSCCode: iFSCCode,
            BranchName: branchName
        };

        var url = "/Employees/AddBankDetails";
        if (isValid) {
            $.ajax({
                type: "POST",
                url: url,
                data: bankDetails,
                beforeSend: function () {
                    $('.loader').removeClass('d-none');
                },
                success: function (result) {
                    if (result > 0) {
                        if (@roleId == 1 || @roleId == 2) {
                            Swal.fire({
                                title: 'Saved Successfully',
                                text: "",
                                icon: 'success',
                                allowOutsideClick: false
                            }).then((resultValue) => {
                                if (resultValue.isConfirmed) {
                                    var urlToRedirect = '@Url.Action("EmployeesInfo", "Employees")';
                                    window.location.href = urlToRedirect;
                                };
                            });                                                      
                        }
                        else {

                            $("#success_CreateEmployeeAllDetails_Popup").css('display', 'none !important');
                            Swal.fire({
                                title: 'Saved Successfully',
                                text: "",
                                icon: 'success',
                                allowOutsideClick: false
                            }).then((resultValue) => {
                                if (resultValue.isConfirmed) {
                                    var urlToRedirect = '@Url.Action("Home", "Dashboard")';
                                    window.location.href = urlToRedirect;
                                };
                            });
                        }
                    }
                    else {
                        Swal.fire({
                            title: 'Something error',
                            text: "",
                            icon: 'error',
                            allowOutsideClick: false
                        }).then((resultValue) => {
                            var empId = $("#EmpId").val();
                            PageUtil.goTo("/Employees/CreateBankDetails?empId=" + empId);
                        });
                    }
                },
                complete: function () {
                    $('.loader').addClass('d-none');
                }
            });
        }
        else {
            return false;
        }
    });

    //Employee Is verified

    $('#btnBankDetailsVerified').click(function () {
        var empId = $("#EmpId").val();
        var isVerified = $("#IsVerified").val();
        var bankDetails = {
            IsVerified: isVerified,
            EmpId: empId,
        };

        $.ajax({
            type: "POST",
            url: "/Employees/EmployeeIsverified",
            data: bankDetails,
            beforeSend: function () {
                $('.loader').removeClass('d-none');
            },
            success: function (result) {
                if (result == true) {
                    if (@roleId == 1 || @roleId == 2) {

                        // $("#success_CreateEmployeeAllDetails_Popup").css('display', 'none !important');
                        Swal.fire({
                            title: 'Verified Successfully',
                            text: "",
                            icon: 'success',
                            allowOutsideClick: false
                        }).then((resultValue) => {
                            if (resultValue.isConfirmed) {
                                var urlToRedirect = '@Url.Action("EmployeesInfo", "Employees")';
                                window.location.href = urlToRedirect;
                            };
                        });
                    }
                    else {

                        $("#success_CreateEmployeeIsVerified_Popup").css('display', 'none !important');
                        Swal.fire({
                            title: 'Verified Successfully',
                            text: "",
                            icon: 'success',
                            allowOutsideClick: false
                        }).then((resultValue) => {
                            if (resultValue.isConfirmed) {
                                var urlToRedirect = '@Url.Action("Home", "Dashboard")';
                                window.location.href = urlToRedirect;
                            };
                        });

                    }
                }
                else {
                    Swal.fire({
                        title: 'Something error',
                        text: "",
                        icon: 'error',
                        allowOutsideClick: false
                    }).then((resultValue) => {
                        PageUtil.goTo("/Employees/CreateBankDetails?empId=" + result);
                    });
                }
            },
            complete: function () {
                $('.loader').addClass('d-none');
            }

        });

    });

    $("#IsVerified").click(function () {
        $('#btnBankDetailsVerified').hide();
    });

</script>